<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
<title>for armenians</title>
<link rel="stylesheet" href="css/style.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="format-detection" content="telephone=no">
</head>

<body>
   <div class="wrapper">
      <header class="header -popup-padding">
   <div class="header__top">
      <div class="header__container -container">
         <div class="header__burger burger-header"><span></span><span></span></div>
         <a href="/" class="header__logo"><img src="img/logo.svg" alt=""></a>
         <div class="header__actions">
            <a href="" class="header__btn btn btn_blue" data-me="575.98, .menu, 1"><span>Submit add</span></a>
            <a href="" class="header__like"><span class="-icon-like"></span></a>
            <div class="header__profile profile-header" data-spollers="min, 0">
               <a href="" class="profile-header__profile" data-spoller-item>
                  <span class="profile-header__icon">
                     <img src="img/icons/avatar.svg" alt="">
                  </span>
                  <div class="profile-header__avatar -ai"><img src="img/header/avatar.png" alt=""></div>
                  <div class="profile-header__name">Savannah Nguyen</div>
               </a>
               <div class="profile-header__body">
                  <div class="profile-header__content">
                     <div class="profile-header__accounts accounts-profile-header">
                        <div class="accounts-profile-header__header">
                           <div class="accounts-profile-header__item item-accounts-profile-header">
                              <div class="item-accounts-profile-header__image -ai"><img src="img/header/avatar.png" alt=""></div>
                              <div class="item-accounts-profile-header__body">
                                 <div class="item-accounts-profile-header__name">Lilit Garibian</div>
                                 <div class="item-accounts-profile-header__email">Igaribianl@gmail.com</div>
                              </div>
                           </div>
                        </div>
                        <div class="accounts-profile-header__main">
                           <a href="" class="accounts-profile-header__item item-accounts-profile-header">
                              <div class="item-accounts-profile-header__image -ai"><img src="img/header/avatar.png" alt=""><div class="message-accounts-profile">1</div></div>
                              <div class="item-accounts-profile-header__body">
                                 <div class="item-accounts-profile-header__name">Lilit Garibian</div>
                                 <div class="item-accounts-profile-header__email">Igaribianl@gmail.com</div>
                              </div>
                           </a>
                        </div>
                        <div class="accounts-profile-header__footer">
                           <a href="" class="accounts-profile-header__add"><span class="-icon-add-user"></span>Добавить аккаунт</a>
                        </div>
                     </div>
                     <div class="profile-header__items">
                        <a href="" class="profile-header__item">Messages <div class="message-accounts-profile message-accounts-profile_item">10</div></a>
                        <a href="" class="profile-header__item">Ads</a>
                        <a href="" class="profile-header__item">Wallet</a>
                        <a href="" class="profile-header__item">Setting</a>
                        <a href="" class="profile-header__item">Log out</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="header__language">
               <div class="language-select -select" data-select>
                  <a href="" class="language-select__openner -select__openner">
                     <div class="language-select__value -select__value"></div>
                     <div class="language-select__icon -select__icon"><span class="-icon-arrow-right"></span></div>
                  </a>
                  <div class="language-select__body -select__body" data-scroll>
                     <div class="language-select__list" data-scroll-content>
                        <div class="language-select__item -active -select__item"><img src="img/language/arabic-flag.png" alt=""><span>ARA</span></div>
                        <div class="language-select__item -select__item"><img src="img/language/armenia-flag.png" alt=""><span>ARM</span></div>
                        <div class="language-select__item -select__item"><img src="img/language/china-flag.svg" alt=""><span>CHI</span></div>
                        <div class="language-select__item -select__item"><img src="img/language/english-flag.png" alt=""><span>ENG</span></div>
                        <div class="language-select__item -select__item"><img src="img/language/russia-flag.png" alt=""><span>RUS</span></div>
                        <div class="language-select__item -select__item"><img src="img/language/iran-flag.png" alt=""><span>PER</span></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="header__bottom">
      <div class="header__container -container">
         <nav class="header__menu menu">
            <ul class="menu__list">
               
               
                  <li><a href="/abc.html" class="menu__link">Armenian Business community</a></li>
                  <li><a href="/services.html" class="menu__link">Services</a></li>
                  <li><a href="/job-catalog.html" class="menu__link">Job</a></li>
                  <li><a href="/property-catalog.html" class="menu__link">Property</a></li>
                  <li><a href="/market.html" class="menu__link">Market</a></li>
                  <li><a href="/vehicle-catalog.html" class="menu__link">Vehicle</a></li>
                  <li data-menu-add-li data-spollers="min, 991.98">
                     <a href="" data-menu-add class="menu__link" data-spoller-item>Еще</a>
                     <div class="menu__link-body">
                        <a href="/useful.html" class="menu__link">Useful resources</a>
                        <a href="/cafe.html" class="menu__link">Restaurants</a>
                        <a href="/entertainments.html" class="menu__link">Entertainments</a>
                        <a href="/news.html" class="menu__link">News</a>
                        <a href="/events.html" class="menu__link">Events</a>
                     </div>
                  </li>
               
            </ul>
            <a href="" class="menu__close"><img src="img/icons/close.svg" alt=""></a>
         </nav>
      </div>
   </div>
</header>
      <div class="page">
         <div class="page__top-block top-block top-block_error top-block_title top-block_title-m">
            <div class="top-block__image -ai"><img src="img/top-block/image.jpg" alt=""></div>
            <div class="top-block__container -container">
               <div class="top-block__body">
                  <h2 class="top-block__title top-title top-title_ads-single">Useful single</h2>
                  <!-- <div class="top-block__row"> -->
                     <!-- <div class="top-block__breadcrumbs breadcrumbs-top-block">
                        <ul class="breadcrumbs-top-block__list">
                           <li><a href="">Home</a></li>
                           <li>Group Decision Making: How to Be Effective and Efficient</li>
                        </ul>
                     </div> -->
                  <!-- </div> -->
               </div>
            </div>
         </div>
         <div class="page__useful useful">
            <div class="useful__container -container">
               <div class="useful__side">
                  <div class="useful__filter">
                     <a href="" class="catalog__openner filter-openner filter-openner_hide filter-openner_lock">
                        <span class="-icon-filter"></span> Filter
                     </a>
                     <form action="#" class="catalog__form form-filter -event-change form-filter_abc">
                        <a href="" class="form-filter__close form-filter__close_lock"><img src="img/icons/close.svg" alt=""></a>
                        <h3 class="form-filter__title">Filter</h3>
                        <div class="form-filter__main">
                           <div class="form-filter__item">
                              <div class="form-filter__items items-filter-categories">
                                 <ul class="items-filter-categories__list">
                                    <li>
                                       <label class="items-filter-categories__item">
                                          <input type="checkbox" name="categories">
                                          <span>
                                             Раздел №1 (123)
                                          </span>
                                       </label>
                                    </li>
                                    <li>
                                       <label class="items-filter-categories__item">
                                          <input type="checkbox" name="categories">
                                          <span>
                                             Раздел №2 (123)
                                          </span>
                                       </label>
                                    </li>
                                    <li>
                                       <label class="items-filter-categories__item">
                                          <input type="checkbox" name="categories">
                                          <span>
                                             Раздел №3 (123)
                                          </span>
                                       </label>
                                    </li>
                                    <li>
                                       <label class="items-filter-categories__item">
                                          <input type="checkbox" name="categories">
                                          <span>
                                             Раздел №4 (123)
                                          </span>
                                       </label>
                                    </li>
                                    <li>
                                       <label class="items-filter-categories__item">
                                          <input type="checkbox" name="categories">
                                          <span>
                                             Раздел №5 (123)
                                          </span>
                                       </label>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                           <div class="form-filter__item">
                              <div class="form-filter__question question question_filter">
                                 <h2 class="question__title title">Do you have something to sell?</h2>
                                 <a href="" class="question__btn btn">Submit on ad</a>
                              </div>
                           </div>
                           <div class="form-filter__ads -ai"><img src="img/ads/image-01.jpg" alt=""></div>
                        </div>
                     </form>
                  </div>
                  <div class="useful__image"><img src="img/useful/ads.jpg" alt=""></div>
               </div>
               <div class="useful__body news-single news-single_col1">
                  <div class="news-single__main">
                     <div class="news-single__header">
                        <h4 class="news-single__subtitle">Business Strategy</h4>
                        <h2 class="news-single__title title">Group Decision Making: How to Be<br> Effective and Efficient</h2>
                        <div class="news-single__desc">by Mahfuz Riad  on December 30, 2019</div>
                        <div class="news-single__text -text-news-single">The main cause? A failure to think critically in a group setting is fueled by our desire to conform to a majority and our hesitation to re-evaluate<br> initially rejected solutions. Decisions, in this case, happen too quickly without proper analysis. The anecdote?  Encourage every member to<br> critically evaluate and voice concerns, encourage dissension, and as a leader, remain humble and open to criticism.</div>
                     </div>
                     <div class="news-single__image -ai"><img src="img/news-single/image.jpg" alt=""></div>
                  </div>
                  <div class="news-single__body">
                     <p><span class="news-single__text -text-news-single">Yet, as many higher education professionals can surely attest to, I have also witnessed the other challenge in group decision making.  In academia, engaging in critical dissent is encouraged (reviewed by Jetten & Hornsey, 2014), and while this is a fine attribute, practically, this can mean that we sometimes spend so much time expressing our thoughts, opinions, and concerns trying to reach consensus and we somehow never arrive at decisions in a timely manner.</span></p>
                     <p><span class="news-single__text -text-news-single">Yet, as many higher education professionals can surely attest to, I have also witnessed the other challenge in group decision making.  In academia, engaging in critical dissent is encouraged (reviewed by Jetten & Hornsey, 2014), and while this is a fine attribute, practically,</span></p>
                     <div class="news-single__items">
                        <div class="news-single__item">
                           <h4 class="news-single__label -title-news-single">1. What is the point of this meeting?</h4>
                           <div class="news-single__text -text-news-single">Yet, as many higher education professionals can surely attest to, I have also witnessed the other challenge in group decision making.  In academia, engaging in critical dissent is encouraged (reviewed by Jetten & Hornsey, 2014), and while this is a fine attribute, practically, this can mean that we sometimes spend so much time expressing our thoughts, opinions, and concerns trying to reach consensus and we somehow never arrive at decisions in a timely manner.</div>
                        </div>
                        <div class="news-single__item">
                           <h4 class="news-single__label -title-news-single">2. What is the problem?</h4>
                           <div class="news-single__text -text-news-single">To make decisions as a group, the problems must first be clarified.  In a meeting focused on problem-solving, be sure to agree on a definition of the problem before talking about potential solutions (Rogelberg, Scott, & Kello, 2007).</div>
                        </div>
                        <div class="news-single__item">
                           <h4 class="news-single__label -title-news-single">3. Have a leader who leads.</h4>
                           <div class="news-single__text -text-news-single">While everyone should feel comfortable talking, someone must lead.  Too often I have watched meetings end with “okay, well…we are out of time, so let’s continue this next time.” Or “let’s chew on this” or “let’s table this” or “well, there’s a lot here, so…..” (the sentence doesn’t even get completed as they look to the others for a direction).</div>
                           <div class="news-single__text -text-news-single">A leader needs to watch the time and not waste the point of the meeting.  Satisfaction with a meeting and perception of meeting productivity are significantly and positively related to leaders being able to move a meeting along and encourage decision making (Malouff et al., 2012).</div>
                        </div>
                     </div>
                     <div class="news-single__info -text-news-single">Yasmine is currently an Associate Professor of Psychology at Mount Saint Mary College where she teaches a wide array of courses in the Psychology department. She is a Fulbright Scholar spent a year working at the Medical Decision Making Center at  Ono Academic College in Israel.</div>
                     <p><span class="news-single__text -text-news-single">While everyone should feel comfortable talking, someone must lead.  Too often I have watched meetings end with “okay, well…we are out of time, so let’s continue this next time.” Or “let’s chew on this” or “let’s table this” or “well, there’s a lot here, so…..” (the sentence doesn’t even get completed as they look to the others for a direction).</span></p>
                     <div class="news-single__comments comments-news-single">
                        <form action="#" class="comments-news-single__form form-comments-news-single">
                           <div class="form-comments-news-single__header">
                              <h3 class="form-comments-news-single__title -title-news-single">Leave a Reaply</h3>
                              <div class="form-comments-news-single__rating rating-review rating-review_user">
                                 <div class="rating-review__body">
                                    <div class="rating-review__starts">
                                       <div class="rating-review__active">
                                          <span class="-icon-star"></span>
                                          <span class="-icon-star"></span>
                                          <span class="-icon-star"></span>
                                          <span class="-icon-star"></span>
                                          <span class="-icon-star"></span>
                                       </div>
                                       <span class="-icon-star-emptly"></span>
                                       <span class="-icon-star-emptly"></span>
                                       <span class="-icon-star-emptly"></span>
                                       <span class="-icon-star-emptly"></span>
                                       <span class="-icon-star-emptly"></span>
                                    </div>
                                    <div class="rating-review__inputs">
                                       <input type="radio" class="rating-review__input" value="1" name="rating">
                                       <input type="radio" class="rating-review__input" value="2" name="rating">
                                       <input type="radio" class="rating-review__input" value="3" name="rating">
                                       <input type="radio" class="rating-review__input" value="4" name="rating">
                                       <input type="radio" class="rating-review__input" value="5" name="rating">
                                    </div>
                                 </div>
                                 <div class="rating-review__label">3</div>
                              </div>
                              <div class="form-comments-news-single__text -text-news-single -text-news-single_small">Your email address will not be published. Required fields are marked *</div>
                           </div>
                           <div class="form-comments-news-single__inputs">
                              <div class="form-comments-news-single__row">
                                 <div class="form-comments-news-single__input"><input autocomplete="off" class="-req -name" type="text" name="name" data-value="Name"></div>
                                 <div class="form-comments-news-single__input"><input autocomplete="off" class="-req -email" type="text" name="email" data-value="Email"></div>
                              </div>
                              <div class="form-comments-news-single__textarea"><textarea name="message" class="-req" data-value="Type your comment"></textarea></div>
                              <div class="form-comments-news-single__footer">
                                 <button type="submit" class="form-comments-news-single__btn">Submit Comment</button>
                              </div>
                           </div>
                        </form>
                        <div class="comments-news-single__row">
                           <h3 class="comments-news-single__title -title-news-single">1 Comment</h3>
                           <div class="comments-news-single__comments">
                              <div class="comments-news-single__comment comment-news-single">
                                 <a href="" class="comment-news-single__image -ai"><img src="img/news-single/avatar.jpg" alt=""></a>
                                 <div class="comment-news-single__body">
                                    <div class="comment-news-single__header">
                                       <div class="comment-news-single__texts">
                                          <a href="" class="comment-news-single__name">Mahfuz riad</a>
                                          <div class="comment-news-single__date">12 december 2019</div>
                                       </div>
                                       <a href="" class="comment-news-single__link">Reply</a>
                                    </div>
                                    <div class="comment-news-single__text -text-news-single -text-news-single_small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad inim</div>
                                 </div>
                              </div>
                              <div class="comments-news-single__comment comment-news-single">
                                 <a href="" class="comment-news-single__image -ai"><img src="img/news-single/avatar.jpg" alt=""></a>
                                 <div class="comment-news-single__body">
                                    <div class="comment-news-single__header">
                                       <div class="comment-news-single__texts">
                                          <a href="" class="comment-news-single__name">Mahfuz riad</a>
                                          <div class="comment-news-single__date">12 december 2019</div>
                                       </div>
                                       <a href="" class="comment-news-single__link">Reply</a>
                                    </div>
                                    <div class="comment-news-single__text -text-news-single -text-news-single_small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad inim</div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="page__question question question_news">
            <div class="question__container -container">
               <h2 class="question__title title">Do you have something to sell?</h2>
               <div class="question__subtitle subtitle">This is where businesses in Bangladesh trade, numerous business and industry services offered<br> to trade and consumers.</div>
               <a href="" class="question__btn btn">Submit on ad</a>
            </div>
         </div>
      </div>
      <footer class="footer">
   <div class="footer__container -container">
      <div class="footer__header">
         <div class="footer__logo">
            <img src="img/logo-white.svg" alt="">
            <span>The biggest online ADS market</span>
         </div>
         <form action="#" class="footer__search search-footer">
            <div class="search-footer__row">
               <div class="search-footer__input"><input autocomplete="off" class="-req -email" type="text" name="email" data-value="Enter Your Email Address"></div>
               <button type="submit" class="search-footer__btn"><span class="-icon-arrow-right"></span></button>
            </div>
         </form>
      </div>
      <div class="footer__grid">
         <div class="footer__col footer__col_big">
            <h3 class="footer__title">Contact</h3>
            <p class="footer__text">
               <a href="8801912704287">Tel: + 88 01912704287</a>
               <a href="love@youremail.com">Mail: love@youremail.com</a>
            </p>
            <p class="footer__text">
               <a href="">Add: 19 SAn dominica,<br> Los  Angelos AS212, USA</a>
            </p>
         </div>
         <div class="footer__col">
            <h3 class="footer__title">Popular Think</h3>
            <ul class="footer__list">
               <li><a href="" class="footer__text">Membership</a></li>
               <li><a href="" class="footer__text">Banner Advertising</a></li>
               <li><a href="" class="footer__text">Promote your ad</a></li>
               <li><a href="" class="footer__text">Elecronic ad</a></li>
               <li><a href="" class="footer__text">Business ad</a></li>
               <li><a href="" class="footer__text">Real estate ad</a></li>
            </ul>
         </div>
         <div class="footer__col">
            <h3 class="footer__title">Our Searches</h3>
            <ul class="footer__list">
               <li><a href="" class="footer__text">Apartment for Rent</a></li>
               <li><a href="" class="footer__text">Apartment Low to hide</a></li>
               <li><a href="" class="footer__text">Offices for Buy</a></li>
               <li><a href="" class="footer__text">Offices for Rent</a></li>
               <li><a href="" class="footer__text">Properties</a></li>
               <li><a href="" class="footer__text">Services</a></li>
               <li><a href="" class="footer__text">Vehicle</a></li>
            </ul>
         </div>
         <div class="footer__col">
            <h3 class="footer__title">Properties</h3>
            <ul class="footer__list">
               <li><a href="" class="footer__text">Commercial</a></li>
               <li><a href="" class="footer__text">House</a></li>
               <li><a href="" class="footer__text">Office</a></li>
               <li><a href="" class="footer__text">Residencial</a></li>
               <li><a href="" class="footer__text">Tower</a></li>
               <li><a href="" class="footer__text">About Us</a></li>
            </ul>
         </div>
      </div>
      <div class="footer__footer">
         <div class="footer__copy">
            Forarmenians©2021 All Rights Reserved <a href="">Terms of Use</a> and <a href="">Privacy Policy</a>
         </div>
      </div>
   </div>
</footer>
   </div>
   <script src="js/libs.min.js"></script>
<script src="js/script.js"></script>
</body>

</html>