<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
<title>for armenians</title>
<link rel="stylesheet" href="css/style.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="format-detection" content="telephone=no">
</head>

<body>
   <div class="submit-popup-categories submit-popup-categories_1" data-popup>
      <div class="submit-popup-categories__body" data-popup-body>
         <div class="submit-popup-categories__content" data-popup-content>
            <a href="" class="submit-popup-categories__close" data-popup-close><span class="-icon-arrow-right"></span></a>
            <h3 class="submit-popup-categories__title title-submit-popup title-submit-popup_small">Choose categories</h3>
            <div class="submit-popup-categories__row">
               <div class="submit-popup-categories__col submit-popup-categories__col_1">
                  <div class="submit-popup-categories__wrap" data-scroll>
                     <ul class="submit-popup-categories__list -categories-list" data-scroll-content>
                        <li class="submit-popup-categories__link -categories-li -categories-li_list">
                           <div class="submit-popup-categories__item-row">
                              Vacancy
                              <span class="-icon-arrow-right"></span>
                           </div>
                           <div class="submit-popup-categories__col submit-popup-categories__col_2 -categories-col">
                              <a href="" class="submit-popup-categories__close submit-popup-categories__close_hide -close-col"><span class="-icon-arrow-right"></span></a>
                              <h3 class="submit-popup-categories__title submit-popup-categories__title_hide title-submit-popup title-submit-popup_small">Appartment</h3>
                              <div class="submit-popup-categories__wrap" data-scroll>
                                 <ul class="submit-popup-categories__sub-list -categories-list" data-scroll-content>
                                    <li class="submit-popup-categories__link -categories-li">
                                       <div class="submit-popup-categories__item-row">
                                          Part time
                                          <span class="-icon-arrow-right"></span>
                                       </div>
                                       <div class="submit-popup-categories__col submit-popup-categories__col_3 -categories-col">
                                          <a href="" class="submit-popup-categories__close submit-popup-categories__close_hide -close-col"><span class="-icon-arrow-right"></span></a>
                                          <h3 class="submit-popup-categories__title submit-popup-categories__title_hide title-submit-popup title-submit-popup_small">Appartment</h3>
                                          <div class="submit-popup-categories__wrap" data-scroll>
                                             <ul class="submit-popup-categories__sub-sub-list -categories-list" data-scroll-content>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                             </ul>
                                          </div>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </li>
                        <li class="submit-popup-categories__link -categories-li -categories-li_list">
                           <div class="submit-popup-categories__item-row">
                              Vacancy
                              <span class="-icon-arrow-right"></span>
                           </div>
                           <div class="submit-popup-categories__col submit-popup-categories__col_2 -categories-col">
                              <a href="" class="submit-popup-categories__close submit-popup-categories__close_hide -close-col"><span class="-icon-arrow-right"></span></a>
                              <h3 class="submit-popup-categories__title submit-popup-categories__title_hide title-submit-popup title-submit-popup_small">Appartment</h3>
                              <div class="submit-popup-categories__wrap" data-scroll>
                                 <ul class="submit-popup-categories__sub-list -categories-list" data-scroll-content>
                                    <li>
                                       <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                          Builder
                                          <span class="-icon-arrow-right"></span>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                          Builder
                                          <span class="-icon-arrow-right"></span>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                          Builder
                                          <span class="-icon-arrow-right"></span>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                          Builder
                                          <span class="-icon-arrow-right"></span>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                          Builder
                                          <span class="-icon-arrow-right"></span>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                          Builder
                                          <span class="-icon-arrow-right"></span>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                          Builder
                                          <span class="-icon-arrow-right"></span>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                          Builder
                                          <span class="-icon-arrow-right"></span>
                                       </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </li>
                        <li class="submit-popup-categories__link -categories-li -categories-li_list">
                           <div class="submit-popup-categories__item-row">
                              Vacancy
                              <span class="-icon-arrow-right"></span>
                           </div>
                           <div class="submit-popup-categories__col submit-popup-categories__col_2 -categories-col">
                              <a href="" class="submit-popup-categories__close submit-popup-categories__close_hide -close-col"><span class="-icon-arrow-right"></span></a>
                              <h3 class="submit-popup-categories__title submit-popup-categories__title_hide title-submit-popup title-submit-popup_small">Appartment</h3>
                              <div class="submit-popup-categories__wrap" data-scroll>
                                 <ul class="submit-popup-categories__sub-list -categories-list" data-scroll-content>
                                    <li class="submit-popup-categories__link -categories-li">
                                       <div class="submit-popup-categories__item-row">
                                          Part time
                                          <span class="-icon-arrow-right"></span>
                                       </div>
                                       <div class="submit-popup-categories__col submit-popup-categories__col_3 -categories-col">
                                          <a href="" class="submit-popup-categories__close submit-popup-categories__close_hide -close-col"><span class="-icon-arrow-right"></span></a>
                                          <h3 class="submit-popup-categories__title submit-popup-categories__title_hide title-submit-popup title-submit-popup_small">Appartment</h3>
                                          <div class="submit-popup-categories__wrap" data-scroll>
                                             <ul class="submit-popup-categories__sub-sub-list -categories-list" data-scroll-content>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                             </ul>
                                          </div>
                                       </div>
                                    </li>
                                    <li class="submit-popup-categories__link -categories-li">
                                       <div class="submit-popup-categories__item-row">
                                          Part time
                                          <span class="-icon-arrow-right"></span>
                                       </div>
                                       <div class="submit-popup-categories__col submit-popup-categories__col_3 -categories-col">
                                          <a href="" class="submit-popup-categories__close submit-popup-categories__close_hide -close-col"><span class="-icon-arrow-right"></span></a>
                                          <h3 class="submit-popup-categories__title submit-popup-categories__title_hide title-submit-popup title-submit-popup_small">Appartment</h3>
                                          <div class="submit-popup-categories__wrap" data-scroll>
                                             <ul class="submit-popup-categories__sub-sub-list -categories-list" data-scroll-content>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                             </ul>
                                          </div>
                                       </div>
                                    </li>
                                    <li class="submit-popup-categories__link -categories-li">
                                       <div class="submit-popup-categories__item-row">
                                          Part time
                                          <span class="-icon-arrow-right"></span>
                                       </div>
                                       <div class="submit-popup-categories__col submit-popup-categories__col_3 -categories-col">
                                          <a href="" class="submit-popup-categories__close submit-popup-categories__close_hide -close-col"><span class="-icon-arrow-right"></span></a>
                                          <h3 class="submit-popup-categories__title submit-popup-categories__title_hide title-submit-popup title-submit-popup_small">Appartment</h3>
                                          <div class="submit-popup-categories__wrap" data-scroll>
                                             <ul class="submit-popup-categories__sub-sub-list -categories-list" data-scroll-content>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                             </ul>
                                          </div>
                                       </div>
                                    </li>
                                    <li class="submit-popup-categories__link -categories-li">
                                       <div class="submit-popup-categories__item-row">
                                          Part time
                                          <span class="-icon-arrow-right"></span>
                                       </div>
                                       <div class="submit-popup-categories__col submit-popup-categories__col_3 -categories-col">
                                          <a href="" class="submit-popup-categories__close submit-popup-categories__close_hide -close-col"><span class="-icon-arrow-right"></span></a>
                                          <h3 class="submit-popup-categories__title submit-popup-categories__title_hide title-submit-popup title-submit-popup_small">Appartment</h3>
                                          <div class="submit-popup-categories__wrap" data-scroll>
                                             <ul class="submit-popup-categories__sub-sub-list -categories-list" data-scroll-content>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                             </ul>
                                          </div>
                                       </div>
                                    </li>
                                    <li class="submit-popup-categories__link -categories-li">
                                       <div class="submit-popup-categories__item-row">
                                          Part time
                                          <span class="-icon-arrow-right"></span>
                                       </div>
                                       <div class="submit-popup-categories__col submit-popup-categories__col_3 -categories-col">
                                          <a href="" class="submit-popup-categories__close submit-popup-categories__close_hide -close-col"><span class="-icon-arrow-right"></span></a>
                                          <h3 class="submit-popup-categories__title submit-popup-categories__title_hide title-submit-popup title-submit-popup_small">Appartment</h3>
                                          <div class="submit-popup-categories__wrap" data-scroll>
                                             <ul class="submit-popup-categories__sub-sub-list -categories-list" data-scroll-content>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                             </ul>
                                          </div>
                                       </div>
                                    </li>
                                    <li class="submit-popup-categories__link -categories-li">
                                       <div class="submit-popup-categories__item-row">
                                          Part time
                                          <span class="-icon-arrow-right"></span>
                                       </div>
                                       <div class="submit-popup-categories__col submit-popup-categories__col_3 -categories-col">
                                          <a href="" class="submit-popup-categories__close submit-popup-categories__close_hide -close-col"><span class="-icon-arrow-right"></span></a>
                                          <h3 class="submit-popup-categories__title submit-popup-categories__title_hide title-submit-popup title-submit-popup_small">Appartment</h3>
                                          <div class="submit-popup-categories__wrap" data-scroll>
                                             <ul class="submit-popup-categories__sub-sub-list -categories-list" data-scroll-content>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                             </ul>
                                          </div>
                                       </div>
                                    </li>
                                    <li class="submit-popup-categories__link -categories-li">
                                       <div class="submit-popup-categories__item-row">
                                          Part time
                                          <span class="-icon-arrow-right"></span>
                                       </div>
                                       <div class="submit-popup-categories__col submit-popup-categories__col_3 -categories-col">
                                          <a href="" class="submit-popup-categories__close submit-popup-categories__close_hide -close-col"><span class="-icon-arrow-right"></span></a>
                                          <h3 class="submit-popup-categories__title submit-popup-categories__title_hide title-submit-popup title-submit-popup_small">Appartment</h3>
                                          <div class="submit-popup-categories__wrap" data-scroll>
                                             <ul class="submit-popup-categories__sub-sub-list -categories-list" data-scroll-content>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                                <li>
                                                   <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                      Builder
                                                      <span class="-icon-arrow-right"></span>
                                                   </a>
                                                </li>
                                             </ul>
                                          </div>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="wrapper">
      <header class="header -popup-padding">
   <div class="header__top">
      <div class="header__container -container">
         <div class="header__burger burger-header"><span></span><span></span></div>
         <a href="/" class="header__logo"><img src="img/logo.svg" alt=""></a>
         <div class="header__actions">
            <a href="" class="header__btn btn btn_blue" data-me="575.98, .menu, 1"><span>Submit add</span></a>
            <a href="" class="header__like"><span class="-icon-like"></span></a>
            <div class="header__profile profile-header" data-spollers="min, 0">
               <a href="" class="profile-header__profile" data-spoller-item>
                  <span class="profile-header__icon">
                     <img src="img/icons/avatar.svg" alt="">
                  </span>
                  <div class="profile-header__avatar -ai"><img src="img/header/avatar.png" alt=""></div>
                  <div class="profile-header__name">Savannah Nguyen</div>
               </a>
               <div class="profile-header__body">
                  <div class="profile-header__content">
                     <div class="profile-header__accounts accounts-profile-header">
                        <div class="accounts-profile-header__header">
                           <div class="accounts-profile-header__item item-accounts-profile-header">
                              <div class="item-accounts-profile-header__image -ai"><img src="img/header/avatar.png" alt=""></div>
                              <div class="item-accounts-profile-header__body">
                                 <div class="item-accounts-profile-header__name">Lilit Garibian</div>
                                 <div class="item-accounts-profile-header__email">Igaribianl@gmail.com</div>
                              </div>
                           </div>
                        </div>
                        <div class="accounts-profile-header__main">
                           <a href="" class="accounts-profile-header__item item-accounts-profile-header">
                              <div class="item-accounts-profile-header__image -ai"><img src="img/header/avatar.png" alt=""><div class="message-accounts-profile">1</div></div>
                              <div class="item-accounts-profile-header__body">
                                 <div class="item-accounts-profile-header__name">Lilit Garibian</div>
                                 <div class="item-accounts-profile-header__email">Igaribianl@gmail.com</div>
                              </div>
                           </a>
                        </div>
                        <div class="accounts-profile-header__footer">
                           <a href="" class="accounts-profile-header__add"><span class="-icon-add-user"></span>Добавить аккаунт</a>
                        </div>
                     </div>
                     <div class="profile-header__items">
                        <a href="" class="profile-header__item">Messages <div class="message-accounts-profile message-accounts-profile_item">10</div></a>
                        <a href="" class="profile-header__item">Ads</a>
                        <a href="" class="profile-header__item">Wallet</a>
                        <a href="" class="profile-header__item">Setting</a>
                        <a href="" class="profile-header__item">Log out</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="header__language">
               <div class="language-select -select" data-select>
                  <a href="" class="language-select__openner -select__openner">
                     <div class="language-select__value -select__value"></div>
                     <div class="language-select__icon -select__icon"><span class="-icon-arrow-right"></span></div>
                  </a>
                  <div class="language-select__body -select__body" data-scroll>
                     <div class="language-select__list" data-scroll-content>
                        <div class="language-select__item -active -select__item"><img src="img/language/arabic-flag.png" alt=""><span>ARA</span></div>
                        <div class="language-select__item -select__item"><img src="img/language/armenia-flag.png" alt=""><span>ARM</span></div>
                        <div class="language-select__item -select__item"><img src="img/language/china-flag.svg" alt=""><span>CHI</span></div>
                        <div class="language-select__item -select__item"><img src="img/language/english-flag.png" alt=""><span>ENG</span></div>
                        <div class="language-select__item -select__item"><img src="img/language/russia-flag.png" alt=""><span>RUS</span></div>
                        <div class="language-select__item -select__item"><img src="img/language/iran-flag.png" alt=""><span>PER</span></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="header__bottom">
      <div class="header__container -container">
         <nav class="header__menu menu">
            <ul class="menu__list">
               
               
                  <li><a href="/abc.html" class="menu__link">Armenian Business community</a></li>
                  <li><a href="/services.html" class="menu__link">Services</a></li>
                  <li><a href="/job-catalog.html" class="menu__link">Job</a></li>
                  <li><a href="/property-catalog.html" class="menu__link">Property</a></li>
                  <li><a href="/market.html" class="menu__link">Market</a></li>
                  <li><a href="/vehicle-catalog.html" class="menu__link">Vehicle</a></li>
                  <li data-menu-add-li data-spollers="min, 991.98">
                     <a href="" data-menu-add class="menu__link" data-spoller-item>Еще</a>
                     <div class="menu__link-body">
                        <a href="/useful.html" class="menu__link">Useful resources</a>
                        <a href="/cafe.html" class="menu__link">Restaurants</a>
                        <a href="/entertainments.html" class="menu__link">Entertainments</a>
                        <a href="/news.html" class="menu__link">News</a>
                        <a href="/events.html" class="menu__link">Events</a>
                     </div>
                  </li>
               
            </ul>
            <a href="" class="menu__close"><img src="img/icons/close.svg" alt=""></a>
         </nav>
      </div>
   </div>
</header>
      <div class="page">
         <div class="page__top-block top-block top-block_padding top-block_job-single">
            <div class="top-block__image -ai"><img src="img/top-block/image.jpg" alt=""></div>
            <div class="top-block__container -container">
               <div class="top-block__body">
                  <h2 class="top-block__title top-title" data-me="767.98, .filter__container, first">Choose categories</h2>
                  <div class="top-block__search search search_top">
                     <div class="search__body">
                        <form action="#" class="search__row">
                           <div class="search__input"><input class="-req -name" autocomplete="off" type="text" name="keyword"
                                 data-value="Your keyword"></div>
                           <button type="submit" class="search__btn"><span>Search</span><span
                                 class="-icon-search"></span></button>
                        </form>
                     </div>
                  </div>
                  <!-- <div class="top-block__row"> -->
                     <!-- <div class="top-block__breadcrumbs breadcrumbs-top-block">
                        <ul class="breadcrumbs-top-block__list">
                           <li><a href="">Home</a></li>
                           <li>Job single</li>
                        </ul>
                     </div> -->
                  <!-- </div> -->
               </div>
            </div>
         </div>
         <div class="page__choose-categories choose-categories">
            <div class="choose-categories__container -container">
               <div class="choose-categories__items">
                  <div class="choose-categories__item item-submit-popup-categories">
                        <a href="" class="item-submit-popup-categories__link" data-popup-link=".submit-popup-categories_1"></a>
                        <div class="item-submit-popup-categories__images">
                           <img src="img/submit-popup-categories/image.svg" alt="">
                           <div class="item-submit-popup-categories__image">
                              <img src="img/submit-popup-categories/image.svg" alt="">
                           </div>
                           <div class="item-submit-popup-categories__image">
                              <img src="img/submit-popup-categories/image-white.svg" alt="">
                           </div>
                        </div>
                        <div class="item-submit-popup-categories__content">
                           <div class="item-submit-popup-categories__label">Vehicle</div>
                           
                        </div>
                  </div>
                  <div class="choose-categories__item item-submit-popup-categories">
                        <a href="" class="item-submit-popup-categories__link"></a>
                        <div class="item-submit-popup-categories__images">
                           <img src="img/submit-popup-categories/image.svg" alt="">
                           <div class="item-submit-popup-categories__image">
                              <img src="img/submit-popup-categories/image.svg" alt="">
                           </div>
                           <div class="item-submit-popup-categories__image">
                              <img src="img/submit-popup-categories/image-white.svg" alt="">
                           </div>
                        </div>
                        <div class="item-submit-popup-categories__content">
                           <div class="item-submit-popup-categories__label">Vehicle</div>
                           
                        </div>
                  </div>
                  <div class="choose-categories__item item-submit-popup-categories">
                        <a href="" class="item-submit-popup-categories__link"></a>
                        <div class="item-submit-popup-categories__images">
                           <img src="img/submit-popup-categories/image.svg" alt="">
                           <div class="item-submit-popup-categories__image">
                              <img src="img/submit-popup-categories/image.svg" alt="">
                           </div>
                           <div class="item-submit-popup-categories__image">
                              <img src="img/submit-popup-categories/image-white.svg" alt="">
                           </div>
                        </div>
                        <div class="item-submit-popup-categories__content">
                           <div class="item-submit-popup-categories__label">Vehicle</div>
                           
                        </div>
                  </div>
                  <div class="choose-categories__item item-submit-popup-categories">
                        <a href="" class="item-submit-popup-categories__link"></a>
                        <div class="item-submit-popup-categories__images">
                           <img src="img/submit-popup-categories/image.svg" alt="">
                           <div class="item-submit-popup-categories__image">
                              <img src="img/submit-popup-categories/image.svg" alt="">
                           </div>
                           <div class="item-submit-popup-categories__image">
                              <img src="img/submit-popup-categories/image-white.svg" alt="">
                           </div>
                        </div>
                        <div class="item-submit-popup-categories__content">
                           <div class="item-submit-popup-categories__label">Vehicle</div>
                           
                        </div>
                  </div>
                  <div class="choose-categories__item item-submit-popup-categories">
                        <a href="" class="item-submit-popup-categories__link"></a>
                        <div class="item-submit-popup-categories__images">
                           <img src="img/submit-popup-categories/image.svg" alt="">
                           <div class="item-submit-popup-categories__image">
                              <img src="img/submit-popup-categories/image.svg" alt="">
                           </div>
                           <div class="item-submit-popup-categories__image">
                              <img src="img/submit-popup-categories/image-white.svg" alt="">
                           </div>
                        </div>
                        <div class="item-submit-popup-categories__content">
                           <div class="item-submit-popup-categories__label">Vehicle</div>
                           
                        </div>
                  </div>
                  <div class="choose-categories__item item-submit-popup-categories">
                        <a href="" class="item-submit-popup-categories__link"></a>
                        <div class="item-submit-popup-categories__images">
                           <img src="img/submit-popup-categories/image.svg" alt="">
                           <div class="item-submit-popup-categories__image">
                              <img src="img/submit-popup-categories/image.svg" alt="">
                           </div>
                           <div class="item-submit-popup-categories__image">
                              <img src="img/submit-popup-categories/image-white.svg" alt="">
                           </div>
                        </div>
                        <div class="item-submit-popup-categories__content">
                           <div class="item-submit-popup-categories__label">Vehicle</div>
                           
                        </div>
                  </div>
                  <div class="choose-categories__item item-submit-popup-categories">
                        <a href="" class="item-submit-popup-categories__link"></a>
                        <div class="item-submit-popup-categories__images">
                           <img src="img/submit-popup-categories/image.svg" alt="">
                           <div class="item-submit-popup-categories__image">
                              <img src="img/submit-popup-categories/image.svg" alt="">
                           </div>
                           <div class="item-submit-popup-categories__image">
                              <img src="img/submit-popup-categories/image-white.svg" alt="">
                           </div>
                        </div>
                        <div class="item-submit-popup-categories__content">
                           <div class="item-submit-popup-categories__label">Vehicle</div>
                           
                        </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <footer class="footer">
   <div class="footer__container -container">
      <div class="footer__header">
         <div class="footer__logo">
            <img src="img/logo-white.svg" alt="">
            <span>The biggest online ADS market</span>
         </div>
         <form action="#" class="footer__search search-footer">
            <div class="search-footer__row">
               <div class="search-footer__input"><input autocomplete="off" class="-req -email" type="text" name="email" data-value="Enter Your Email Address"></div>
               <button type="submit" class="search-footer__btn"><span class="-icon-arrow-right"></span></button>
            </div>
         </form>
      </div>
      <div class="footer__grid">
         <div class="footer__col footer__col_big">
            <h3 class="footer__title">Contact</h3>
            <p class="footer__text">
               <a href="8801912704287">Tel: + 88 01912704287</a>
               <a href="love@youremail.com">Mail: love@youremail.com</a>
            </p>
            <p class="footer__text">
               <a href="">Add: 19 SAn dominica,<br> Los  Angelos AS212, USA</a>
            </p>
         </div>
         <div class="footer__col">
            <h3 class="footer__title">Popular Think</h3>
            <ul class="footer__list">
               <li><a href="" class="footer__text">Membership</a></li>
               <li><a href="" class="footer__text">Banner Advertising</a></li>
               <li><a href="" class="footer__text">Promote your ad</a></li>
               <li><a href="" class="footer__text">Elecronic ad</a></li>
               <li><a href="" class="footer__text">Business ad</a></li>
               <li><a href="" class="footer__text">Real estate ad</a></li>
            </ul>
         </div>
         <div class="footer__col">
            <h3 class="footer__title">Our Searches</h3>
            <ul class="footer__list">
               <li><a href="" class="footer__text">Apartment for Rent</a></li>
               <li><a href="" class="footer__text">Apartment Low to hide</a></li>
               <li><a href="" class="footer__text">Offices for Buy</a></li>
               <li><a href="" class="footer__text">Offices for Rent</a></li>
               <li><a href="" class="footer__text">Properties</a></li>
               <li><a href="" class="footer__text">Services</a></li>
               <li><a href="" class="footer__text">Vehicle</a></li>
            </ul>
         </div>
         <div class="footer__col">
            <h3 class="footer__title">Properties</h3>
            <ul class="footer__list">
               <li><a href="" class="footer__text">Commercial</a></li>
               <li><a href="" class="footer__text">House</a></li>
               <li><a href="" class="footer__text">Office</a></li>
               <li><a href="" class="footer__text">Residencial</a></li>
               <li><a href="" class="footer__text">Tower</a></li>
               <li><a href="" class="footer__text">About Us</a></li>
            </ul>
         </div>
      </div>
      <div class="footer__footer">
         <div class="footer__copy">
            Forarmenians©2021 All Rights Reserved <a href="">Terms of Use</a> and <a href="">Privacy Policy</a>
         </div>
      </div>
   </div>
</footer>
   </div>
   <script src="js/libs.min.js"></script>
<script src="js/script.js"></script>
</body>

</html>