{% extends 'base.html' %}
{% load static %}

{% block title %}Profile page{% endblock %}


{% block content %}
      <div class="page">
         <div class="page__profile profile">
            <div class="profile__message message-error-profile -activ">
               <div class="message-error-profile__icon"></div>
               <div class="message-error-profile__text">An error occurred. Please try again</div>
               <a href="" class="message-error-profile__close"></a>
            </div>
            <div class="profile__container -container">
               <div class="profile__main">
                  <div class="profile__tabs tabs-profile" data-tab="min, 0">
                     <div class="tabs-profile__items -parent-tab-item" data-tab-items>
                        <a href="" class="tabs-profile__item" data-tab-item="1">Messages <span></span></a>
                        <a href="" class="tabs-profile__item" data-tab-item="2">Ads <span></span></a>
                        <a href="" class="tabs-profile__item" data-tab-item="3">Wallet <span></span></a>
                        <a href="" class="tabs-profile__item" data-tab-item="4">My Reviews <span></span></a>
                        <a href="" class="tabs-profile__item" data-tab-item="5">Settings <span></span></a>
                        <a href="{% url 'logout' %}" class="tabs-profile__item">Log out</a>
                     </div>

                     <div class="tabs-profile__body">
                        <div class="tabs-profile__content" data-tab-content="1">
                           <div class="tabs-profile__message message-profile">
                              <div class="message-profile__body -scroll-profile" data-scroll>
                                 <ul class="message-profile__list" data-scroll-content>
                                    <li class="message-profile__item item-message-profile">
                                       <div class="item-message-profile__row">
                                          <a href="" class="item-message-profile__openner"></a>
                                          <div class="item-message-profile__profile">
                                             <div class="item-message-profile__avatar -ai"><img src="{% static 'img/news-single/avatar.jpg' %}" alt=""></div>
                                             <div class="item-message-profile__name">Nika mall</div>
                                          </div>
                                          <div class="item-message-profile__main">
                                             <div class="item-message-profile__info info-message-profile">
                                                <div class="info-message-profile__pic -ai"><img src="img/products-ads/image.jpg" alt=""></div>
                                                <div class="info-message-profile__body">
                                                   <div class="info-message-profile__title">
                                                      Продам кондиционер почти новый
                                                      <span class="info-message-profile__price">$320</span>
                                                   </div>
                                                   <div class="info-message-profile__text">Вы можите забрать завтра</div>
                                                </div>
                                             </div>
                                             <div class="item-message-profile__date">7 июл</div>
                                          </div>
                                       </div>
                                       <div class="item-message-profile__chat chat-item-message-profile">
                                          <div class="chat-item-message-profile__header">
                                             <a href="" class="chat-item-message-profile__close"><span class="-icon-arrow-right-big"></span></a>
                                             <div class="chat-item-message-profile__name">Nika mall</div>
                                          </div>
                                          <div class="chat-item-message-profile__main -scroll-profile" data-scroll>
                                             <div class="chat-item-message-profile__content" data-scroll-content>
                                                <div class="chat-item-message-profile__row chat-item-message-profile__row_left">
                                                   <div class="chat-item-message-profile__avatar -ai"><img src="{% static 'img/news-single/avatar.jpg' %}" alt=""></div>
                                                   <div class="chat-item-message-profile__messages">
                                                      <div class="chat-item-message-profile__message">
                                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam???</p>
                                                         <div class="chat-item-message-profile__bottom">
                                                            <div class="chat-item-message-profile__time">11:35</div>
                                                         </div>
                                                      </div>
                                                      <div class="chat-item-message-profile__message">
                                                         <p>Lorem ipsum dolor sit amet</p>
                                                         <div class="chat-item-message-profile__bottom">
                                                            <div class="chat-item-message-profile__time">11:35</div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                                <div class="chat-item-message-profile__row chat-item-message-profile__row_right">
                                                   <div class="chat-item-message-profile__messages">
                                                      <div class="chat-item-message-profile__message">
                                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam???</p>
                                                         <div class="chat-item-message-profile__bottom">
                                                            <div class="chat-item-message-profile__time">11:35</div>
                                                            <div class="chat-item-message-profile__view"><img src="img/icons/view.svg" alt=""></div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                   <div class="chat-item-message-profile__avatar -ai"><img src="{% static 'img/news-single/avatar.jpg' %}" alt=""></div>
                                                </div>
                                                <div class="chat-item-message-profile__row chat-item-message-profile__row_left">
                                                   <div class="chat-item-message-profile__avatar -ai"><img src="{% static 'img/news-single/avatar.jpg' %}" alt=""></div>
                                                   <div class="chat-item-message-profile__messages">
                                                      <div class="chat-item-message-profile__message">
                                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam???</p>
                                                         <div class="chat-item-message-profile__bottom">
                                                            <div class="chat-item-message-profile__time">11:35</div>
                                                         </div>
                                                      </div>
                                                      <div class="chat-item-message-profile__message">
                                                         <p>Lorem ipsum dolor sit amet</p>
                                                         <div class="chat-item-message-profile__bottom">
                                                            <div class="chat-item-message-profile__time">11:35</div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                                <div class="chat-item-message-profile__row chat-item-message-profile__row_right">
                                                   <div class="chat-item-message-profile__messages">
                                                      <div class="chat-item-message-profile__message">
                                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam???</p>
                                                         <div class="chat-item-message-profile__bottom">
                                                            <div class="chat-item-message-profile__time">11:35</div>
                                                            <div class="chat-item-message-profile__view"><img src="img/icons/view.svg" alt=""></div>
                                                         </div>
                                                      </div>
                                                      <div class="chat-item-message-profile__message">
                                                         <p>Lorem ipsum dolor sit amet</p>
                                                         <div class="chat-item-message-profile__bottom">
                                                            <div class="chat-item-message-profile__time">11:35</div>
                                                            <div class="chat-item-message-profile__view"><img src="img/icons/view.svg" alt=""></div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                   <div class="chat-item-message-profile__avatar -ai"><img src="{% static 'img/news-single/avatar.jpg' %}" alt=""></div>
                                                </div>
                                             </div>
                                          </div>
                                          <form action="#" class="chat-item-message-profile__form form-chat-item-message-profile">
                                             <div class="form-chat-item-message-profile__input"><textarea name="message" class="-req" data-value="Message"></textarea></div>
                                             <div class="form-chat-item-message-profile__footer">
                                                <button type="submit" class="form-chat-item-message-profile__btn"><img src="img/icons/arrow-right.svg" alt=""></button>
                                             </div>
                                          </form>
                                       </div>
                                    </li>
                                    
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="tabs-profile__content" data-tab-content="2">
                           <div class="tabs-profile__ads ads-profile ads-profile_emptly">
                              <div class="ads-profile__label">You do not have any active postings at this time.</div>
                              <a href="" class="ads-profile__btn btn-profile" data-popup-link=".submit-popup-categories">+ Add new product</a>
                           </div>
                        </div>

                        <div class="tabs-profile__content" data-tab-content="3">
                           <div class="tabs-profile__row row-links-profile row-links-profile_wallet row-links-profile_wallet-has" data-tab="min, 0" data-tab-item-label>
                              <div class="row-links-profile__items -parent-tab-item" data-tab-items>
                                 <div class="row-links-profile__link">
                                    <a href="" class="row-links-profile__item row-links-profile__item_nw" data-tab-subitem="1">Payment</a>
                                    <div class="row-links-profile__content-item"></div>
                                 </div>
                                 <div class="row-links-profile__link">
                                    <a href="" class="row-links-profile__item row-links-profile__item_nw" data-tab-subitem="2">Payment</a>
                                    <div class="row-links-profile__content-item"></div>
                                 </div>
                              </div>
                              <div class="row-links-profile__body">
                                 <div class="row-links-profile__content" data-tab-content="1">
                                    <div class="row-links-profile__walltet wallet-profile">
                                       <div class="wallet-profile__row">
                                          <div class="wallet-profile__col">
                                             <h3 class="wallet-profile__title">Wallet Balance</h3>
                                             <div class="wallet-profile__price">2500 $</div>
                                             <div class="wallet-profile__text -text-wallet-profile">Wallet is a convenient and beneficial way to pay for services on forarmenia. You can save up to 10% on our services when using the wallet.</div>
                                          </div>
                                          <div class="wallet-profile__col">
                                             <div class="wallet-profile__method method-wallet-profile">
                                                <h3 class="method-wallet-profile__label">Choose payment method</h3>
                                                <div class="method-wallet-profile__items">
                                                   <a href="" class="method-wallet-profile__item"><img src="img/method wallet/icon.png" alt=""></a>
                                                </div>
                                             </div>
                                             <form action="#" class="wallet-profile__form form-wallet-profile">
                                                <div class="form-wallet-profile__label">Pay with credit card</div>
                                                <div class="form-wallet-profile__item">
                                                   <div class="form-wallet-profile__input"><input autocomplete="off" class="-req" type="number" name="num" data-value="1000"></div>
                                                   <div class="form-wallet-profile__currency">$</div>
                                                   <button type="submit" class="form-wallet-profile__btn">Pay</button>
                                                </div>
                                             </form>
                                             <div class="wallet-profile__text wallet-profile__text_line -text-wallet-profile">Get a 5% discount when adding 40,000 dram or more!<br> Add 60,000 dram and receive a 10% discount.</div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="row-links-profile__content" data-tab-content="2">
                                    <div class="row-links-profile__text">On this page you will find information about your payment history.<br> You have not made any payments yet.</div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="tabs-profile__content" data-tab-content="4">
                           <div class="tabs-profile__row row-links-profile row-links-profile_reviews" data-tab="min, 0">
                              <div class="row-links-profile__items -parent-tab-item" data-tab-items>
                                 <a href="" class="row-links-profile__item" data-tab-subitem="1">My reviews</a>
                                 <a href="" class="row-links-profile__item" data-tab-subitem="2">My reviews</a>
                              </div>
                              <div class="row-links-profile__body">
                                 <div class="row-links-profile__content" data-tab-content="1">
                                    <div class="row-links-profile__reviews reviews-profile">
                                       <div class="reviews-profile__items">
                                          <div class="reviews-profile__item item-product-profile">
                                             <div class="item-product-profile__main">
                                                <div class="item-product-profile__preview">
                                                   <a href="" class="item-product-profile__link"></a>
                                                   <div class="item-product-profile__image -ai"><img src="img/product/image.jpg" alt=""></div>
                                                </div>
                                                <div class="item-product-profile__body">
                                                   <a href="" class="item-product-profile__title">Velour Girls' Down Jacket JR</a>
                                                   <div class="item-product-profile__settings">
                                                      <div class="item-product-profile__setting">Size: <span>XXL</span></div>
                                                      <div class="item-product-profile__setting">Color: <span>Navy</span></div>
                                                   </div>
                                                   <div class="item-product-profile__footer">
                                                      <div class="item-product-profile__date">14.11.2001</div>
                                                      <div class="item-product-profile__view">
                                                         <span>142<span class="-icon-view"></span></span>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="item-product-profile__rating rating-item-product-profile">
                                                <div class="rating-item-product-profile__num">4.5</div>
                                                <div class="rating-item-product-profile__starts">
                                                   <span class="-icon-star"></span>
                                                   <span class="-icon-star"></span>
                                                   <span class="-icon-star"></span>
                                                   <span class="-icon-star"></span>
                                                   <span class="-icon-star-bd"></span>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="row-links-profile__content" data-tab-content="2">
                                    <div class="row-links-profile__reviews reviews-profile">
                                       <div class="reviews-profile__items">
                                          <div class="reviews-profile__item item-product-profile">
                                             <div class="item-product-profile__main">
                                                <div class="item-product-profile__preview">
                                                   <a href="" class="item-product-profile__link"></a>
                                                   <div class="item-product-profile__image -ai"><img src="img/product/image.jpg" alt=""></div>
                                                </div>
                                                <div class="item-product-profile__body">
                                                   <a href="" class="item-product-profile__title">Velour Girls' Down Jacket JR</a>
                                                   <div class="item-product-profile__settings">
                                                      <div class="item-product-profile__setting">Size: <span>XXL</span></div>
                                                      <div class="item-product-profile__setting">Color: <span>Navy</span></div>
                                                   </div>
                                                   <div class="item-product-profile__footer">
                                                      <div class="item-product-profile__date">14.11.2001</div>
                                                      <div class="item-product-profile__view">
                                                         <span>142<span class="-icon-view"></span></span>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="item-product-profile__rating rating-item-product-profile">
                                                <div class="rating-item-product-profile__num">4.5</div>
                                                <div class="rating-item-product-profile__starts">
                                                   <span class="-icon-star"></span>
                                                   <span class="-icon-star"></span>
                                                   <span class="-icon-star"></span>
                                                   <span class="-icon-star"></span>
                                                   <span class="-icon-star-bd"></span>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="reviews-profile__item item-product-profile">
                                             <div class="item-product-profile__main">
                                                <div class="item-product-profile__preview">
                                                   <a href="" class="item-product-profile__link"></a>
                                                   <div class="item-product-profile__image -ai"><img src="img/product/image.jpg" alt=""></div>
                                                </div>
                                                <div class="item-product-profile__body">
                                                   <a href="" class="item-product-profile__title">Velour Girls' Down Jacket JR</a>
                                                   <div class="item-product-profile__settings">
                                                      <div class="item-product-profile__setting">Size: <span>XXL</span></div>
                                                      <div class="item-product-profile__setting">Color: <span>Navy</span></div>
                                                   </div>
                                                   <div class="item-product-profile__footer">
                                                      <div class="item-product-profile__date">14.11.2001</div>
                                                      <div class="item-product-profile__view">
                                                         <span>142<span class="-icon-view"></span></span>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="item-product-profile__rating rating-item-product-profile">
                                                <div class="rating-item-product-profile__num">4.5</div>
                                                <div class="rating-item-product-profile__starts">
                                                   <span class="-icon-star"></span>
                                                   <span class="-icon-star"></span>
                                                   <span class="-icon-star"></span>
                                                   <span class="-icon-star"></span>
                                                   <span class="-icon-star-bd"></span>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="tabs-profile__content" data-tab-content="5">
                           <div class="tabs-profile__settings settings-profile">
                              <div class="settings-profile__row">
                                 <h3 class="settings-profile__title">Change settings</h3>
                                 <form action="#" class="settings-profile__form form-settings-profile">
                                    <div class="settings-profile__photo photo-settings-profile">
                                       <div class="photo-settings-profile__image -ai"><img src="{% static 'img/news-single/avatar.jpg' %}" alt=""></div>
                                       <label class="photo-settings-profile__icon"><input type="file" name="avatar" class="-req -file" accept=".png, .jpg, .jpeg"><span class="-icon-camera"></span></label>
                                    </div>
                                    <div class="form-settings-profile__items">
                                       <div class="form-settings-profile__item">
                                          <h4 class="form-settings-profile__label">Name</h4>
                                          <div class="form-settings-profile__input"><input autocomplete="off" type="text" class="-req -name" name="name" data-value="John"></div>
                                       </div>
                                       <div class="form-settings-profile__item">
                                          <h4 class="form-settings-profile__label">Last Name</h4>
                                          <div class="form-settings-profile__input"><input autocomplete="off" type="text" class="-req -name" name="last-name" data-value="Doe"></div>
                                       </div>
                                       <div class="form-settings-profile__item form-settings-profile__item_email">
                                          <h4 class="form-settings-profile__label">E-mail</h4>
                                          <div class="form-settings-profile__input"><input autocomplete="off" type="text" class="-req -email" name="email" data-value="example@example.com"></div>
                                       </div>
                                    </div>
                                    <button type="submit" class="form-settings-profile__btn btn-profile">Save</button>
                                 </form>
                              </div>
                              <div class="settings-profile__row">
                                 <h3 class="settings-profile__title">Change password</h3>
                                 <form action="#" class="settings-profile__form form-settings-profile form-settings-profile_password">
                                    <div class="form-settings-profile__items">
                                       <div class="form-settings-profile__item">
                                          <h4 class="form-settings-profile__label">Password</h4>
                                          <div class="form-settings-profile__input"><input autocomplete="off" type="password" class="-req -password" name="password" data-value="*************"></div>
                                       </div>
                                    </div>
                                    <button type="submit" class="form-settings-profile__btn btn-profile">Save</button>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>


<!-- POPUP -->

      <div class="page">
         <div class="submit-popup-categories submit-popup-categories_categories -open" data-popup>
            <div class="submit-popup-categories__body" data-popup-body>
               <div class="submit-popup-categories__content" data-popup-content>
                  <a href="" class="submit-popup-categories__close" data-popup-close><span class="-icon-arrow-right"></span></a>
                  <h3 class="submit-popup-categories__title title-submit-popup title-submit-popup_big">Choose categories</h3>
                  <div class="submit-popup-categories__items">

                     <div class="submit-popup-categories__item item-submit-popup-categories">
                           <a href="#" class="item-submit-popup-categories__link"></a>
                           <div class="item-submit-popup-categories__images">
                              <img src="img/submit-popup-categories/image.svg" alt="">
                              <div class="item-submit-popup-categories__image">
                                 <img src="img/submit-popup-categories/image.svg" alt="">
                              </div>
                              <div class="item-submit-popup-categories__image">
                                 <img src="img/submit-popup-categories/image-white.svg" alt="">
                              </div>
                           </div>
                           <div class="item-submit-popup-categories__content">
                              <div class="item-submit-popup-categories__label">Property</div>
                              
                           </div>
                     </div>
                     <div class="submit-popup-categories__item item-submit-popup-categories">
                           <a href="{% url 'vehicle-create' %}" class="item-submit-popup-categories__link"></a>
                           <div class="item-submit-popup-categories__images">
                              <img src="img/submit-popup-categories/image.svg" alt="">
                              <div class="item-submit-popup-categories__image">
                                 <img src="img/submit-popup-categories/image.svg" alt="">
                              </div>
                              <div class="item-submit-popup-categories__image">
                                 <img src="img/submit-popup-categories/image-white.svg" alt="">
                              </div>
                           </div>
                           <div class="item-submit-popup-categories__content">
                              <div class="item-submit-popup-categories__label">Vehicle</div>
                              
                           </div>
                     </div>
                     <div class="submit-popup-categories__item item-submit-popup-categories">
                           <a href="#" class="item-submit-popup-categories__link"></a>
                           <div class="item-submit-popup-categories__images">
                              <img src="img/submit-popup-categories/image.svg" alt="">
                              <div class="item-submit-popup-categories__image">
                                 <img src="img/submit-popup-categories/image.svg" alt="">
                              </div>
                              <div class="item-submit-popup-categories__image">
                                 <img src="img/submit-popup-categories/image-white.svg" alt="">
                              </div>
                           </div>
                           <div class="item-submit-popup-categories__content">
                              <div class="item-submit-popup-categories__label">Jobs</div>
                              
                           </div>
                     </div>
                     <div class="submit-popup-categories__item item-submit-popup-categories">
                           <a href="" class="item-submit-popup-categories__link"></a>
                           <div class="item-submit-popup-categories__images">
                              <img src="img/submit-popup-categories/image.svg" alt="">
                              <div class="item-submit-popup-categories__image">
                                 <img src="img/submit-popup-categories/image.svg" alt="">
                              </div>
                              <div class="item-submit-popup-categories__image">
                                 <img src="img/submit-popup-categories/image-white.svg" alt="">
                              </div>
                           </div>
                           <div class="item-submit-popup-categories__content">
                              <div class="item-submit-popup-categories__label">Market</div>
                              
                           </div>
                     </div>
                     <div class="submit-popup-categories__item item-submit-popup-categories">
                           <a href="" class="item-submit-popup-categories__link"></a>
                           <div class="item-submit-popup-categories__images">
                              <img src="img/submit-popup-categories/image.svg" alt="">
                              <div class="item-submit-popup-categories__image">
                                 <img src="img/submit-popup-categories/image.svg" alt="">
                              </div>
                              <div class="item-submit-popup-categories__image">
                                 <img src="img/submit-popup-categories/image-white.svg" alt="">
                              </div>
                           </div>
                           <div class="item-submit-popup-categories__content">
                              <div class="item-submit-popup-categories__label">Service</div>
                              
                           </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
{% endblock %}