{% extends 'base.html' %}
{% load static %}
{% block content %}


      <div class="page">
         <div class="page__top-block top-block top-block_padding top-block_events-single">
            <div class="top-block__image -ai"><img src="img/top-block/image.jpg" alt=""></div>
            <div class="top-block__container -container">
               <div class="top-block__body">
                  <h2 class="top-block__title top-title top-title_ads" data-me="767.98, .filter__container, first">Thomas Anders & Modern Talking Band & Sandra</h2>
                  <!-- <div class="top-block__row top-block__row_ads"> -->
                     <!-- <div class="top-block__breadcrumbs breadcrumbs-top-block">
                        <ul class="breadcrumbs-top-block__list">
                           <li><a href="">Home</a></li>
                           <li><a href="">Events</a></li>
                           <li>Thomas Anders & Modern Talking Band & Sandra</li>
                        </ul>
                     </div> -->
                  <!-- </div> -->
               </div>
            </div>
         </div>
         <div class="page__events-page events-page events-page_single">
            <div class="events-page__container -container">
               <div class="events-page__main">
                  <div class="events-page__side">
                     <div class="events-page__filter" data-me="767.98, .top-block__row, first">
                        <a href="" class="events-page__openner filter-openner filter-openner_hide filter-openner_lock">
                           <span class="-icon-filter"></span> Filter
                        </a>
                        <form action="#" class="events-page__form form-filter -event-change form-filter_abc">
                           <a href="" class="form-filter__close form-filter__close_lock"><img src="img/icons/close.svg" alt=""></a>
                           <h3 class="form-filter__title">Filter</h3>
                           <div class="form-filter__main">
                              <div class="form-filter__item">
                                 <div class="form-filter__items items-filter-categories">
                                    <ul class="items-filter-categories__list">
                                       <li>
                                          <label class="items-filter-categories__item">
                                             <input type="checkbox" name="categories">
                                             <span>
                                                Раздел №1 (123)
                                             </span>
                                          </label>
                                       </li>
                                       <li>
                                          <label class="items-filter-categories__item">
                                             <input type="checkbox" name="categories">
                                             <span>
                                                Раздел №2 (123)
                                             </span>
                                          </label>
                                       </li>
                                       <li>
                                          <label class="items-filter-categories__item">
                                             <input type="checkbox" name="categories">
                                             <span>
                                                Раздел №3 (123)
                                             </span>
                                          </label>
                                       </li>
                                       <li>
                                          <label class="items-filter-categories__item">
                                             <input type="checkbox" name="categories">
                                             <span>
                                                Раздел №4 (123)
                                             </span>
                                          </label>
                                       </li>
                                       <li>
                                          <label class="items-filter-categories__item">
                                             <input type="checkbox" name="categories">
                                             <span>
                                                Раздел №5 (123)
                                             </span>
                                          </label>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                              <div class="form-filter__ads -ai"><img src="img/ads/image-01.jpg" alt=""></div>
                           </div>
                        </form>
                     </div>
                     <div class="events-page__image"><img src="img/useful/ads.jpg" alt=""></div>
                  </div>
                  <div class="events-page__body">
                     <div class="events-page__item item-events-page item-events-page_item-big">
                        <div class="item-events-page__preview">
                           <div class="item-events-page__actions">
                              <a href="" class="item-events-page__share"><span class="-icon-share"></span></a>
                              <a href="" class="item-events-page__like"><span class="-icon-like"></span></a>
                           </div>
                           <div class="item-events-page__image -ai"><img src="{% static 'img/event-item/image.jpg' %}" alt=""></div>
                        </div>
                        <div class="item-events-page__body">
                           <div class="item-events-page__header">
                              <h3 class="item-events-page__title -title-useful-item -title-useful-item_big">Thomas Anders & Modern Talking Band & Sandra</h3>
                           </div>
                           <div class="item-events-page__row item-events-page__row_b">
                              <div class="item-events-page__info info-item-events-page info-item-events-page_big">
                                 <div class="info-item-events-page__item"><span class="-icon-map"></span>Sanger, United States</div>
                              <div class="info-item-events-page__item"><span class="-icon-calendar-bd"></span>24.12.2021</div>
                              <div class="info-item-events-page__item"><span class="-icon-time"></span>19:00 UTC/GMT -8 </div>
                              </div>
                              <a href="" class="item-events-page__btn btn-more-product">Buy ticket</a>
                           </div>
                        </div>
                     </div>
                     <div class="events-page__text" data-me="767.98, .item-events-page__body, 1">Physiological respiration involves the mechanisms that ensure that the composition of the functional residual capacity is kept constant, and equilibrates with the gases dissolved in the pulmonary capillary blood, and thus throughout the body. Thus, in precise usage, the words breathing and ventilation are hyponyms, not synonyms, of respiration; but this prescription is not consistently followed, even by most health care providers, because the term respiratory rate (RR) is a well-established term in health care, even though it would need to be consistently replaced with ventilation rate if the precise usage were to be followed.</div>
                  </div>
               </div>
            </div>
         </div>
         <div class="page__similar-events similar-events">
            <div class="similar-events__container -container">
               <h2 class="similar-events__title title">Similar Events</h2>
               <div class="similar-events__grid">
                  <div class="events-page__item item-events-page">
                     <a href="" class="item-events-page__preview">
                        <div class="item-events-page__image -ai"><img src="{% static 'img/event-item/image.jpg' %}" alt=""></div>
                     </a>
                     <div class="item-events-page__body">
                        <h3 class="item-events-page__title -title-useful-item">MARUV USA 2022 Tour</h3>
                        <div class="item-events-page__row">
                           <div class="item-events-page__info info-item-events-page">
                              <div class="info-item-events-page__item"><span class="-icon-map"></span>Sanger, United States</div>
                              <div class="info-item-events-page__item"><span class="-icon-calendar"></span>24.12.2021</div>
                              <div class="info-item-events-page__item"><span class="-icon-time"></span>19:00 UTC/GMT -8 </div>
                           </div>
                           <a href="" class="item-events-page__btn btn-more-product">Buy ticket</a>
                        </div>
                        <div class="item-events-page__footer">
                           <a href="" class="item-events-page__link">Read more</a>
                           <div class="item-events-page__actions">
                              <a href="" class="item-events-page__share"><span class="-icon-share"></span></a>
                              <a href="" class="item-events-page__like"><span class="-icon-like"></span></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="events-page__item item-events-page">
                     <a href="" class="item-events-page__preview">
                        <div class="item-events-page__image -ai"><img src="{% static 'img/event-item/image.jpg' %}" alt=""></div>
                     </a>
                     <div class="item-events-page__body">
                        <h3 class="item-events-page__title -title-useful-item">MARUV USA 2022 Tour</h3>
                        <div class="item-events-page__row">
                           <div class="item-events-page__info info-item-events-page">
                              <div class="info-item-events-page__item"><span class="-icon-map"></span>Sanger, United States</div>
                              <div class="info-item-events-page__item"><span class="-icon-calendar"></span>24.12.2021</div>
                              <div class="info-item-events-page__item"><span class="-icon-time"></span>19:00 UTC/GMT -8 </div>
                           </div>
                           <a href="" class="item-events-page__btn btn-more-product">Buy ticket</a>
                        </div>
                        <div class="item-events-page__footer">
                           <a href="" class="item-events-page__link">Read more</a>
                           <div class="item-events-page__actions">
                              <a href="" class="item-events-page__share"><span class="-icon-share"></span></a>
                              <a href="" class="item-events-page__like"><span class="-icon-like"></span></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="events-page__item item-events-page">
                     <a href="" class="item-events-page__preview">
                        <div class="item-events-page__image -ai"><img src="{% static 'img/event-item/image.jpg' %}" alt=""></div>
                     </a>
                     <div class="item-events-page__body">
                        <h3 class="item-events-page__title -title-useful-item">MARUV USA 2022 Tour</h3>
                        <div class="item-events-page__row">
                           <div class="item-events-page__info info-item-events-page">
                              <div class="info-item-events-page__item"><span class="-icon-map"></span>Sanger, United States</div>
                              <div class="info-item-events-page__item"><span class="-icon-calendar"></span>24.12.2021</div>
                              <div class="info-item-events-page__item"><span class="-icon-time"></span>19:00 UTC/GMT -8 </div>
                           </div>
                           <a href="" class="item-events-page__btn btn-more-product">Buy ticket</a>
                        </div>
                        <div class="item-events-page__footer">
                           <a href="" class="item-events-page__link">Read more</a>
                           <div class="item-events-page__actions">
                              <a href="" class="item-events-page__share"><span class="-icon-share"></span></a>
                              <a href="" class="item-events-page__like"><span class="-icon-like"></span></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="page__question question question_events-single">
            <div class="question__container -container">
               <h2 class="question__title question__title_af title">Do you have something to sell?</h2>
               <div class="question__subtitle subtitle">This is where businesses in Bangladesh trade, numerous business
                  and industry services offered<br> to trade and consumers.</div>
               <a href="" class="question__btn btn">Submit on ad</a>
            </div>
         </div>
      </div>

{% endblock %}