{% extends 'base.html' %}
{% load static %}
{% block content %}


   <div class="seller-popup" data-popup>
      <div class="seller-popup__body" data-popup-body>
         <div class="seller-popup__content" data-popup-content>
            <a href="" class="seller-popup__close" data-popup-close><span class="-icon-arrow-right"></span></a>
            <div class="seller-popup__side">
               <div class="seller-popup__profile">
                  <div class="seller-popup__avatar -ai"><img src="img/news-single/avatar.jpg" alt=""></div>
                  <div class="seller-popup__name">Jane Cooper</div>
               </div>
               <div class="seller-popup__rating rating-review">
                  <div class="rating-review__starts">
                     <span class="-icon-star"></span>
                     <span class="-icon-star"></span>
                     <span class="-icon-star"></span>
                     <span class="-icon-star-bd"></span>
                     <span class="-icon-star-emptly"></span>
                  </div>
                  <div class="rating-review__label">
                     3.5
                     <span>(145 review)</span>
                  </div>
               </div>
               <div class="seller-popup__items">
                  <div class="seller-popup__item item-review">
                     <div class="item-review__line"></div>
                     <div class="item-review__label"><span>4.8</span> Responsible</div>
                  </div>
                  <div class="seller-popup__item item-review">
                     <div class="item-review__line"></div>
                     <div class="item-review__label"><span>4.8</span> Responsible</div>
                  </div>
                  <div class="seller-popup__item item-review">
                     <div class="item-review__line"></div>
                     <div class="item-review__label"><span>4.8</span> Responsible</div>
                  </div>
                  <div class="seller-popup__item item-review">
                     <div class="item-review__line"></div>
                     <div class="item-review__label"><span>4.8</span> Responsible</div>
                  </div>
                  <div class="seller-popup__item item-review">
                     <div class="item-review__line"></div>
                     <div class="item-review__label"><span>4.8</span> Responsible</div>
                  </div>
               </div>
            </div>
            <div class="seller-popup__main">
               <div class="seller-popup__products products-seller-popup">
                  <div class="products-seller-popup__title">
                     <span>Seller's Ads</span>
                     10 active
                  </div>
                  <div class="products-seller-popup__items">
                     <div class="products-seller-popup__item item-products-ads">
                        <div class="item-products-ads__slider slider-item-products-ads slider-item-products-ads_nh">
                           <div class="slider-item-products-ads__body swiper">
                              <div class="slider-item-products-ads__wrapper swiper-wrapper">
                                 <div class="slider-item-products-ads__slide swiper-slide">
                                    <a href="" class="slider-item-products-ads__image -ai"><img src="img/products-ads/image.jpg" alt=""></a>
                                 </div>
                                 <div class="slider-item-products-ads__slide swiper-slide">
                                    <a href="" class="slider-item-products-ads__image -ai"><img src="img/products-ads/image.jpg" alt=""></a>
                                 </div>
                                 <div class="slider-item-products-ads__slide swiper-slide">
                                    <a href="" class="slider-item-products-ads__image -ai"><img src="img/products-ads/image.jpg" alt=""></a>
                                 </div>
                              </div>
                           </div>
                           <a href="" class="slider-item-products-ads__pagination -slider-pagination-row"></a>
                        </div>
                        <div class="item-products-ads__content item-content">
                           <div class="item-content__meta">
                              <span><span class="-icon-map"></span>Sanger, United States</span>
                           </div>
                           <a href="" class="item-content__title">Ammazo Nia Oil</a>
                           <div class="item-content__row item-content__row_df">
                              <div class="item-content__category">Property</div>
                              <div class="item-content__price-green">$60</div>
                           </div>
                           <div class="item-content__footer item-content__footer_df">
                              <div class="item-content__rating item-content__rating_nmb"><span class="-icon-star"></span>4.7 (145 review)</div>
                              <div class="item-content__actions">
                                 <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                 <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="products-seller-popup__item item-products-ads">
                        <div class="item-products-ads__slider slider-item-products-ads slider-item-products-ads_nh">
                           <div class="slider-item-products-ads__body swiper">
                              <div class="slider-item-products-ads__wrapper swiper-wrapper">
                                 <div class="slider-item-products-ads__slide swiper-slide">
                                    <a href="" class="slider-item-products-ads__image -ai"><img src="img/products-ads/image.jpg" alt=""></a>
                                 </div>
                                 <div class="slider-item-products-ads__slide swiper-slide">
                                    <a href="" class="slider-item-products-ads__image -ai"><img src="img/products-ads/image.jpg" alt=""></a>
                                 </div>
                                 <div class="slider-item-products-ads__slide swiper-slide">
                                    <a href="" class="slider-item-products-ads__image -ai"><img src="img/products-ads/image.jpg" alt=""></a>
                                 </div>
                              </div>
                           </div>
                           <a href="" class="slider-item-products-ads__pagination -slider-pagination-row"></a>
                        </div>
                        <div class="item-products-ads__content item-content">
                           <div class="item-content__meta">
                              <span><span class="-icon-map"></span>Sanger, United States</span>
                           </div>
                           <a href="" class="item-content__title">Ammazo Nia Oil</a>
                           <div class="item-content__row item-content__row_df">
                              <div class="item-content__category">Property</div>
                              <div class="item-content__price-green">$60</div>
                           </div>
                           <div class="item-content__footer item-content__footer_df">
                              <div class="item-content__rating item-content__rating_nmb"><span class="-icon-star"></span>4.7 (145 review)</div>
                              <div class="item-content__actions">
                                 <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                 <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="products-seller-popup__item item-products-ads">
                        <div class="item-products-ads__slider slider-item-products-ads slider-item-products-ads_nh">
                           <div class="slider-item-products-ads__body swiper">
                              <div class="slider-item-products-ads__wrapper swiper-wrapper">
                                 <div class="slider-item-products-ads__slide swiper-slide">
                                    <a href="" class="slider-item-products-ads__image -ai"><img src="img/products-ads/image.jpg" alt=""></a>
                                 </div>
                                 <div class="slider-item-products-ads__slide swiper-slide">
                                    <a href="" class="slider-item-products-ads__image -ai"><img src="img/products-ads/image.jpg" alt=""></a>
                                 </div>
                                 <div class="slider-item-products-ads__slide swiper-slide">
                                    <a href="" class="slider-item-products-ads__image -ai"><img src="img/products-ads/image.jpg" alt=""></a>
                                 </div>
                              </div>
                           </div>
                           <a href="" class="slider-item-products-ads__pagination -slider-pagination-row"></a>
                        </div>
                        <div class="item-products-ads__content item-content">
                           <div class="item-content__meta">
                              <span><span class="-icon-map"></span>Sanger, United States</span>
                           </div>
                           <a href="" class="item-content__title">Ammazo Nia Oil</a>
                           <div class="item-content__row item-content__row_df">
                              <div class="item-content__category">Property</div>
                              <div class="item-content__price-green">$60</div>
                           </div>
                           <div class="item-content__footer item-content__footer_df">
                              <div class="item-content__rating item-content__rating_nmb"><span class="-icon-star"></span>4.7 (145 review)</div>
                              <div class="item-content__actions">
                                 <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                 <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="products-seller-popup__item item-products-ads">
                        <div class="item-products-ads__slider slider-item-products-ads slider-item-products-ads_nh">
                           <div class="slider-item-products-ads__body swiper">
                              <div class="slider-item-products-ads__wrapper swiper-wrapper">
                                 <div class="slider-item-products-ads__slide swiper-slide">
                                    <a href="" class="slider-item-products-ads__image -ai"><img src="img/products-ads/image.jpg" alt=""></a>
                                 </div>
                                 <div class="slider-item-products-ads__slide swiper-slide">
                                    <a href="" class="slider-item-products-ads__image -ai"><img src="img/products-ads/image.jpg" alt=""></a>
                                 </div>
                                 <div class="slider-item-products-ads__slide swiper-slide">
                                    <a href="" class="slider-item-products-ads__image -ai"><img src="img/products-ads/image.jpg" alt=""></a>
                                 </div>
                              </div>
                           </div>
                           <a href="" class="slider-item-products-ads__pagination -slider-pagination-row"></a>
                        </div>
                        <div class="item-products-ads__content item-content">
                           <div class="item-content__meta">
                              <span><span class="-icon-map"></span>Sanger, United States</span>
                           </div>
                           <a href="" class="item-content__title">Ammazo Nia Oil</a>
                           <div class="item-content__row item-content__row_df">
                              <div class="item-content__category">Property</div>
                              <div class="item-content__price-green">$60</div>
                           </div>
                           <div class="item-content__footer item-content__footer_df">
                              <div class="item-content__rating item-content__rating_nmb"><span class="-icon-star"></span>4.7 (145 review)</div>
                              <div class="item-content__actions">
                                 <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                 <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="products-seller-popup__item item-products-ads">
                        <div class="item-products-ads__slider slider-item-products-ads slider-item-products-ads_nh">
                           <div class="slider-item-products-ads__body swiper">
                              <div class="slider-item-products-ads__wrapper swiper-wrapper">
                                 <div class="slider-item-products-ads__slide swiper-slide">
                                    <a href="" class="slider-item-products-ads__image -ai"><img src="img/products-ads/image.jpg" alt=""></a>
                                 </div>
                                 <div class="slider-item-products-ads__slide swiper-slide">
                                    <a href="" class="slider-item-products-ads__image -ai"><img src="img/products-ads/image.jpg" alt=""></a>
                                 </div>
                                 <div class="slider-item-products-ads__slide swiper-slide">
                                    <a href="" class="slider-item-products-ads__image -ai"><img src="img/products-ads/image.jpg" alt=""></a>
                                 </div>
                              </div>
                           </div>
                           <a href="" class="slider-item-products-ads__pagination -slider-pagination-row"></a>
                        </div>
                        <div class="item-products-ads__content item-content">
                           <div class="item-content__meta">
                              <span><span class="-icon-map"></span>Sanger, United States</span>
                           </div>
                           <a href="" class="item-content__title">Ammazo Nia Oil</a>
                           <div class="item-content__row item-content__row_df">
                              <div class="item-content__category">Property</div>
                              <div class="item-content__price-green">$60</div>
                           </div>
                           <div class="item-content__footer item-content__footer_df">
                              <div class="item-content__rating item-content__rating_nmb"><span class="-icon-star"></span>4.7 (145 review)</div>
                              <div class="item-content__actions">
                                 <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                 <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="products-seller-popup__item item-products-ads">
                        <div class="item-products-ads__slider slider-item-products-ads slider-item-products-ads_nh">
                           <div class="slider-item-products-ads__body swiper">
                              <div class="slider-item-products-ads__wrapper swiper-wrapper">
                                 <div class="slider-item-products-ads__slide swiper-slide">
                                    <a href="" class="slider-item-products-ads__image -ai"><img src="img/products-ads/image.jpg" alt=""></a>
                                 </div>
                                 <div class="slider-item-products-ads__slide swiper-slide">
                                    <a href="" class="slider-item-products-ads__image -ai"><img src="img/products-ads/image.jpg" alt=""></a>
                                 </div>
                                 <div class="slider-item-products-ads__slide swiper-slide">
                                    <a href="" class="slider-item-products-ads__image -ai"><img src="img/products-ads/image.jpg" alt=""></a>
                                 </div>
                              </div>
                           </div>
                           <a href="" class="slider-item-products-ads__pagination -slider-pagination-row"></a>
                        </div>
                        <div class="item-products-ads__content item-content">
                           <div class="item-content__meta">
                              <span><span class="-icon-map"></span>Sanger, United States</span>
                           </div>
                           <a href="" class="item-content__title">Ammazo Nia Oil</a>
                           <div class="item-content__row item-content__row_df">
                              <div class="item-content__category">Property</div>
                              <div class="item-content__price-green">$60</div>
                           </div>
                           <div class="item-content__footer item-content__footer_df">
                              <div class="item-content__rating item-content__rating_nmb"><span class="-icon-star"></span>4.7 (145 review)</div>
                              <div class="item-content__actions">
                                 <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                 <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="products-seller-popup__footer">
                     <a href="" class="products-seller-popup__btn btn-item-info btn-item-info_blue">See All</a>
                  </div>
               </div>
               <div class="seller-popup__footer">
                  <form action="#" class="seller-popup__form form-review">
                     <div class="form-review__btns">
                        <a href="" class="form-review__btn -btn-review-input-show">+ Add review</a>
                        <button type="submit" class="form-review__btn">Save</button>
                     </div>
                     <div class="form-review__body">
                        <div class="form-review__input"><textarea class="-req" name="message"></textarea></div>
                     </div>
                  </form>
                  <div class="seller-popup__wrap" data-scroll>
                     <div class="seller-popup__comments" data-scroll-content>
                        <div class="seller-popup__comment comment-review">
                           <div class="comment-review__profile">
                              <a href="" class="comment-review__avatar -ai"><img src="img/news-single/avatar.jpg" alt=""></a>
                              <div class="comment-review__info">
                                 <div class="comment-review__name">Jane Cooper</div>
                                 <div class="comment-review__date">7/18/17</div>
                              </div>
                           </div>
                           <div class="comment-review__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
                        </div>
                        <div class="seller-popup__comment comment-review">
                           <div class="comment-review__profile">
                              <a href="" class="comment-review__avatar -ai"><img src="img/news-single/avatar.jpg" alt=""></a>
                              <div class="comment-review__info">
                                 <div class="comment-review__name">Jane Cooper</div>
                                 <div class="comment-review__date">7/18/17</div>
                              </div>
                           </div>
                           <div class="comment-review__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
                        </div>
                        <div class="seller-popup__comment comment-review">
                           <div class="comment-review__profile">
                              <a href="" class="comment-review__avatar -ai"><img src="img/news-single/avatar.jpg" alt=""></a>
                              <div class="comment-review__info">
                                 <div class="comment-review__name">Jane Cooper</div>
                                 <div class="comment-review__date">7/18/17</div>
                              </div>
                           </div>
                           <div class="comment-review__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
                        </div>
                        <div class="seller-popup__comment comment-review">
                           <div class="comment-review__profile">
                              <a href="" class="comment-review__avatar -ai"><img src="img/news-single/avatar.jpg" alt=""></a>
                              <div class="comment-review__info">
                                 <div class="comment-review__name">Jane Cooper</div>
                                 <div class="comment-review__date">7/18/17</div>
                              </div>
                           </div>
                           <div class="comment-review__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="file-popup" data-popup>
      <div class="file-popup__body" data-popup-body>
         <div class="file-popup__content" data-popup-content>
            <a href="" class="file-popup__close -close-popup" data-popup-close></a>
            <form action="#" class="file-popup__form form-file-popup">
               <a href="" class="form-file-popup__link">Отправить резюме с сайта</a>
               <label class="form-file-popup__btn">
                  <input type="file" name="file" class="form-file-popup__file">
                  Загрузить файл
               </label>
            </form>
         </div>
      </div>
   </div>
   <div class="wrapper">
      <div class="page">
         <div class="page__top-block top-block top-block_padding top-block_job-single">
            <div class="top-block__image -ai"><img src="img/top-block/image.jpg" alt=""></div>
            <div class="top-block__container -container">
               <div class="top-block__body">
                  <h2 class="top-block__title top-title" data-me="767.98, .filter__container, first">Job single</h2>
                  <div class="top-block__search search search_top">
                     <div class="search__body">
                        <form action="#" class="search__row">
                           <div class="search__input"><input class="-req -name" autocomplete="off" type="text" name="keyword"
                                 data-value="Your keyword"></div>
                           <button type="submit" class="search__btn"><span>Search</span><span
                                 class="-icon-search"></span></button>
                        </form>
                     </div>
                  </div>
                  <!-- <div class="top-block__row"> -->
                     <!-- <div class="top-block__breadcrumbs breadcrumbs-top-block">
                        <ul class="breadcrumbs-top-block__list">
                           <li><a href="">Home</a></li>
                           <li>Job single</li>
                        </ul>
                     </div> -->
                  <!-- </div> -->
               </div>
            </div>
         </div>
         <div class="page__product product">
            <div class="product__container -container">


               <div class="product__main">
                  <div class="product__header">
                     <div class="product__date">{{ object.created_by}}</div>
                     <div class="product__actions">
                        <a href="" class="product-hr">HR+</a>
                        <a href="" class="product-share"><span class="-icon-share"></span></a>
                        <a href="" class="product-like"><span class="-icon-like"></span></a>
                     </div>
                  </div>
                  <div class="product__info info-product info-product_nline">
                     <div class="info-product__body">
                        <h2 class="info-product__title info-product__title_job-single">
                           <span>{{ object.title }}</span>
                           Sicamous, BC, V0E 2V1  Listing ID: 10161461
                        </h2>
                        <div class="info-product__date">{{ object.created_date }}</div>
                        <div class="info-product__links info-product__links_job-single" data-me="767.98, .info-product, last">
                           <a href="" data-popup-link=".file-popup" class="info-product__link info-product__link_red"></span>Send my resume</a>
                        </div>
                     </div>
                     <div class="info-product__side">
                        <div class="info-product__price">${{ object.price }} <span>/{{ object.frequency_of_payment }}</span></div>
                        <div class="info-product__label info-product__label_hide"></div>
                     </div>
                  </div>
                  <div class="product__photos photos-product">
                     <div class="photos-product__images">
                         {% for photo in object.photos.all  %}
                            <p>{{ photo.photo.url }}</p>
                         {% endfor %}
                     </div>
                     <a href="" class="photos-product__link">more photos</a>
                  </div>
                  <div class="product__descs">
                     <div class="product__desc">
                        <h3 class="product__label label-product label-product_big">Responsibilities:</h3>
                        <p class="product__text">{{ object.responsibilities }}</p>
                     </div>
                     <div class="product__desc">
                        <h3 class="product__label label-product label-product_big">Requirements:</h3>
                        <p class="product__text">{{ object.requirements }}</p>
                     </div>
                  </div>
                  <div class="product__overview overview-product">
                     <div class="overview-product__row overview-product__row_green">
                        <h3 class="overview-product__label label-product">Special Skills:</h3>
                        <div class="overview-product__items">
                            {% for skill in object.key_skills.all %}
                               <div class="overview-product__item">
                                <h4 class="overview-product__title">{{ skill.skill }}</h4>
                               </div>
                            {% endfor %}
                        </div>
                     </div>
                     <div class="overview-product__row overview-product__row_green">
                        <h3 class="overview-product__label label-product">Languages:</h3>
                        <div class="overview-product__items">
                            {% for languages in object.languages.all %}
                                <div class="overview-product__item">
                                    <h4 class="overview-product__title">{{ languages.language }}</h4>
                                    <div class="overview-product__subtitle">{{ languages.level }}</div>
                                </div>

                            {% endfor %}


                        </div>
                     </div>
                     <div class="overview-product__row overview-map-product">
                        <h3 class="overview-map-product__label label-product">Map :</h3>
                        <div class="overview-map-product__body">
                           <div class="overview-map-product__map overview-map-product__map_big"><iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6699051.043275679!2d21.940572607847184!3d34.9310098493962!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1657230954283!5m2!1sru!2sua" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                           <div class="overview-map-product__footer">
                              <div class="overview-map-product__icon"><img src="img/icons/car.svg" alt=""></div>
                              <div class="overview-map-product__text">
                                 5— min · <a href="">Add a Commute</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <a href="" data-me="991.98, .product__container, last" class="info-product__btn info-product__btn_job-single btn-product btn-product_grey">Report ads</a>
               </div>
               <div class="product__side">


                  <div class="product__seller info-seller-product">
                     <h3 class="info-seller-product__title title-product">Seller Information</h3>
                     <a href="" data-popup-link=".seller-popup" class="info-seller-product__profile">
                        <span class="info-seller-product__avatar -ai"><img src="{% static 'img/product/avatar.jpg' %}" alt=""></span>
                        <div class="info-seller-product__profile-info">
                           <span class="info-seller-product__name">Mahfuz Riad</span>
                           <div class="info-seller-product__rating"><span class="-icon-star"></span>4.7 (145 review)</div>
                        </div>
                     </a>
                     <a href="tel:" class="info-seller-product__btn info-seller-product__btn_phone btn-product btn-product_green">01682648xxx <span class="-icon-tel"></span></a>
                     <a href="mailto:" class="info-seller-product__btn info-seller-product__btn_mail btn-product btn-product_red">@mahfuz.145 <span class="-icon-mail"></span></a>
                  </div>
                  <form action="#" class="product__form form-contact-product">
                     <h3 class="form-contact-product__title title-product">Contact Seller</h3>
                     <div class="form-contact-product__items">
                        <div class="form-contact-product__item">
                           <label>
                              <h4 class="form-contact-product__label">Email *</h4>
                              <span class="form-contact-product__input"><input autocomplete="off" type="text" class="-req -email" name="email" data-value="Your email"></span>
                           </label>
                        </div>
                        <div class="form-contact-product__item">
                           <label>
                              <h4 class="form-contact-product__label">Name *</h4>
                              <span class="form-contact-product__input"><input autocomplete="off" type="text" class="-req -name" name="email" data-value="Your Name"></span>
                           </label>
                        </div>
                        <div class="form-contact-product__item">
                           <label>
                              <h4 class="form-contact-product__label">Message *</h4>
                              <span class="form-contact-product__textarea"><textarea autocomplete="" type="text" class="-req" name="email" data-value="Type your message"></textarea></span>
                           </label>
                        </div>
                     </div>
                     <button type="submit" class="form-contact-product__btn btn-product btn-product_green">Send Message</button>
                  </form>
                  <div class="product__ads ads-product">
                     <h3 class="ads-product__title title-product">Popular ads</h3>
                     <div class="ads-product__items">
                        <div class="ads-product__item">
                           <a href="" class="ads-product__link"></a>
                           <div class="ads-product__image -ai"><img src="{% static 'img/product/popular-ads-01.jpg' %}" alt=""></div>
                           <div class="ads-product__body">
                              <div class="ads-product__label">AppleiMac 21.5Inc Core</div>
                              <div class="ads-product__text">Dhaka, Desktop Computers</div>
                              <div class="ads-product__footer">
                                 <div class="ads-product__price">$620</div>
                                 <div class="ads-product__date">1 day</div>
                              </div>
                           </div>
                        </div>
                        <div class="ads-product__item">
                           <a href="" class="ads-product__link"></a>
                           <div class="ads-product__image -ai"><img src="{% static 'img/product/popular-ads-01.jpg' %}" alt=""></div>
                           <div class="ads-product__body">
                              <div class="ads-product__label">AppleiMac 21.5Inc Core</div>
                              <div class="ads-product__text">Dhaka, Desktop Computers</div>
                              <div class="ads-product__footer">
                                 <div class="ads-product__price">$620</div>
                                 <div class="ads-product__date">1 day</div>
                              </div>
                           </div>
                        </div>
                        <div class="ads-product__item">
                           <a href="" class="ads-product__link"></a>
                           <div class="ads-product__image -ai"><img src="{% static 'img/product/popular-ads-01.jpg' %}" alt=""></div>
                           <div class="ads-product__body">
                              <div class="ads-product__label">AppleiMac 21.5Inc Core</div>
                              <div class="ads-product__text">Dhaka, Desktop Computers</div>
                              <div class="ads-product__footer">
                                 <div class="ads-product__price">$620</div>
                                 <div class="ads-product__date">1 day</div>
                              </div>
                           </div>
                        </div>
                        <div class="ads-product__item">
                           <a href="" class="ads-product__link"></a>
                           <div class="ads-product__image -ai"><img src="{% static 'img/product/popular-ads-01.jpg' %}" alt=""></div>
                           <div class="ads-product__body">
                              <div class="ads-product__label">AppleiMac 21.5Inc Core</div>
                              <div class="ads-product__text">Dhaka, Desktop Computers</div>
                              <div class="ads-product__footer">
                                 <div class="ads-product__price">$620</div>
                                 <div class="ads-product__date">1 day</div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="page__banner banner-single">
            <div class="banner-single__container -container">
               <div class="banner-single__image -ai"><img src="{% static 'img/job-single/banner.jpg' %}" alt=""></div>
            </div>
         </div>
         <div class="page__similar-ads similar-ads similar-ads_job-single">
            <div class="similar-ads__container -container">
               <h2 class="similar-ads__title title">Similar Ads</h2>
               <div class="similar-ads__slider slider-similar-ads">
                  <div class="slider-similar-ads__body swiper">
                     <div class="slider-similar-ads__wrapper swiper-wrapper">
                        <div class="slider-similar-ads__slide swiper-slide">
                           <div class="slider-similar-ads__item item-ads">
                              <div class="item-ads__content item-content">
                                 <div class="item-content__meta">
                                    <span><span class="-icon-map"></span>254, LA, Glandel</span>
                                 </div>
                                 <a href="" class="item-content__title">Senior Phiton developer</a>
                                 <div class="item-content__catagory">Job</div>
                                 <div class="item-content__price-time">
                                    $25
                                    <span>/pre time</span>
                                 </div>
                                 <div class="item-content__labels-settings">
                                    <div class="item-content__label-settings">Senior</div>
                                    <div class="item-content__label-settings">English/Native</div>
                                    <div class="item-content__label-settings">Full time</div>
                                 </div>
                                 <div class="item-content__footer">
                                    <div class="item-content__actions">
                                       <a href="" class="item-content__hr">HR+</a>
                                       <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                       <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="slider-similar-ads__slide swiper-slide">
                           <div class="slider-similar-ads__item item-ads">
                              <div class="item-ads__content item-content">
                                 <div class="item-content__meta">
                                    <span><span class="-icon-map"></span>254, LA, Glandel</span>
                                 </div>
                                 <a href="" class="item-content__title">Senior Phiton developer</a>
                                 <div class="item-content__catagory">Job</div>
                                 <div class="item-content__price-time">
                                    $25
                                    <span>/pre time</span>
                                 </div>
                                 <div class="item-content__labels-settings">
                                    <div class="item-content__label-settings">Senior</div>
                                    <div class="item-content__label-settings">English/Native</div>
                                    <div class="item-content__label-settings">Full time</div>
                                 </div>
                                 <div class="item-content__footer">
                                    <div class="item-content__actions">
                                       <a href="" class="item-content__hr">HR+</a>
                                       <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                       <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="slider-similar-ads__slide swiper-slide">
                           <div class="slider-similar-ads__item item-ads">
                              <div class="item-ads__content item-content">
                                 <div class="item-content__meta">
                                    <span><span class="-icon-map"></span>254, LA, Glandel</span>
                                 </div>
                                 <a href="" class="item-content__title">Senior Phiton developer</a>
                                 <div class="item-content__catagory">Job</div>
                                 <div class="item-content__price-time">
                                    $25
                                    <span>/pre time</span>
                                 </div>
                                 <div class="item-content__labels-settings">
                                    <div class="item-content__label-settings">Senior</div>
                                    <div class="item-content__label-settings">English/Native</div>
                                    <div class="item-content__label-settings">Full time</div>
                                 </div>
                                 <div class="item-content__footer">
                                    <div class="item-content__actions">
                                       <a href="" class="item-content__hr">HR+</a>
                                       <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                       <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="slider-similar-ads__slide swiper-slide">
                           <div class="slider-similar-ads__item item-ads">
                              <div class="item-ads__content item-content">
                                 <div class="item-content__meta">
                                    <span><span class="-icon-map"></span>254, LA, Glandel</span>
                                 </div>
                                 <a href="" class="item-content__title">Senior Phiton developer</a>
                                 <div class="item-content__catagory">Job</div>
                                 <div class="item-content__price-time">
                                    $25
                                    <span>/pre time</span>
                                 </div>
                                 <div class="item-content__labels-settings">
                                    <div class="item-content__label-settings">Senior</div>
                                    <div class="item-content__label-settings">English/Native</div>
                                    <div class="item-content__label-settings">Full time</div>
                                 </div>
                                 <div class="item-content__footer">
                                    <div class="item-content__actions">
                                       <a href="" class="item-content__hr">HR+</a>
                                       <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                       <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="slider-similar-ads__arrows arrows-slider">
                     <div class="arrows-slider__arrow arrows-slider__arrow_prev"><span class="-icon-arrow-right"></span></div>
                     <div class="arrows-slider__arrow arrows-slider__arrow_next"><span class="-icon-arrow-right"></span></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="page__question question question_job-single">
            <div class="question__container -container">
               <h2 class="question__title title">Do you have something to sell?</h2>
               <div class="question__subtitle subtitle">This is where businesses in Bangladesh trade, numerous business and industry services offered<br> to trade and consumers.</div>
               <a href="" class="question__btn btn">Submit on ad</a>
            </div>
         </div>
      </div>

   </div>
{% endblock %}
