{% extends 'base.html' %}
{% load static %}

{% block content %}


      <div class="page">
         <div class="page__top-block top-block toptop-block_settings-right top-block_padding top-block_cafe">
            <div class="top-block__image -ai"><img src="img/top-block/image.jpg" alt=""></div>
            <div class="top-block__container -container">
               <div class="top-block__body">
                  <h2 class="top-block__title -title top-title_ads">Locations</h2>
                  <div class="top-block__search search search_search search_inp search_ads search_cafe-single search_top">
                     <div class="search__body">
                        <form action="#" class="search__row">
                           <div class="search__inputs">
                              <div class="search__item">
                                 <div class="search__label">Name</div>
                                 <div class="search__input"><input class="-req -name" autocomplete="off" type="text" name="keyword"
                                       data-value="Your keyword"></div>
                              </div>
                              <div class="search__item">
                                 <div class="search__label">Location</div>
                                 <div class="search__select">
                                    <select name="location" class="select-search" data-custom-select>
                                       <option value="Los Angelos">Los Angelos1</option>
                                       <option value="Los Angelos">Los Angelos2</option>
                                       <option value="Los Angelos">Los Angelos3</option>
                                    </select>
                                 </div>
                              </div>
                              <button type="submit" class="search__btn"><span>Search</span><span
                                    class="-icon-search"></span></button>
                           </div>
                           <div class="search__setting -input-form-filter" data-me="767.98, .search__inputs, 2">
                              <label class="search__input-check">
                                 <input type="checkbox" name="open-now">
                                 <span></span>
                                 <span class="text-form-filter">Open now</span>
                              </label>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
               <div class="top-block__map"><iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6699051.043275679!2d21.940572607847184!3d34.9310098493962!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1657230954283!5m2!1sru!2sua" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            </div>
         </div>
         <div class="page__filter filter filter_abc">
            <div class="filter__container -container">
               <div class="filter__short short-filter">
                  <div class="short-filter__label">Short by</div>
                  <div class="short-filter__select">
                     <select name="short" class="short-filter-select" data-custom-select>
                        <option value="Most relevant">Most relevant</option>
                        <option value="Most relevant">Most relevant</option>
                        <option value="Most relevant">Most relevant</option>
                     </select>
                  </div>
               </div>
            </div>
         </div>
         <div class="page__products-cafe products-cafe">
            <div class="products-cafe__container -container">
               <div class="market__catalog catalog">
                  <div class="filter__body"  data-me="767.98, .filter__container, first">
                     <a href="" class="filter__openner filter-openner filter-openner_hide filter-openner_lock">
                        <span class="-icon-filter"></span> Filter
                     </a>
                     <form action="#" class="filter__form form-filter -event-change form-filter_abc">
                        <a href="" class="form-filter__close form-filter__close_lock"><img src="img/icons/close.svg" alt=""></a>
                        <h3 class="form-filter__title">Filter</h3>
                        <div class="form-filter__main">
                           <div class="form-filter__item">
                              <div class="form-filter__items items-filter-categories">
                                 <ul class="items-filter-categories__list">
                                    <li>
                                       <label class="items-filter-categories__item">
                                          <input type="checkbox" name="categories">
                                          <span>
                                             Раздел №1 (123)
                                          </span>
                                       </label>
                                    </li>
                                    <li>
                                       <label class="items-filter-categories__item">
                                          <input type="checkbox" name="categories">
                                          <span>
                                             Раздел №2 (123)
                                          </span>
                                       </label>
                                    </li>
                                    <li>
                                       <label class="items-filter-categories__item">
                                          <input type="checkbox" name="categories">
                                          <span>
                                             Раздел №3 (123)
                                          </span>
                                       </label>
                                    </li>
                                    <li>
                                       <label class="items-filter-categories__item">
                                          <input type="checkbox" name="categories">
                                          <span>
                                             Раздел №4 (123)
                                          </span>
                                       </label>
                                    </li>
                                    <li>
                                       <label class="items-filter-categories__item">
                                          <input type="checkbox" name="categories">
                                          <span>
                                             Раздел №5 (123)
                                          </span>
                                       </label>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                           <div class="form-filter__item">
                              <div class="form-filter__title-item form-filter__title-item_nicon form-filter-title-item">График работы</div>
                              <div class="form-filter__body">
                                 <ul class="form-filter__list">
                                    <li class="form-filter__input -input-form-filter">
                                       <label>
                                          <input type="checkbox" name="schedule">
                                          <span></span>
                                          <span class="text-form-filter">Понедельник</span>
                                       </label>
                                    </li>
                                    <li class="form-filter__input -input-form-filter">
                                       <label>
                                          <input type="checkbox" name="schedule">
                                          <span></span>
                                          <span class="text-form-filter">Понедельник</span>
                                       </label>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                           <div class="form-filter__ads -ai"><img src="img/ads/image-01.jpg" alt=""></div>
                        </div>
                     </form>
                  </div>
                  <div class="catalog__grid catalog__grid_col2">
                      {% for object in object_list %}
                          <div class="products-cafe__item item-products-ads item-products-ads_cafe">
                        <div class="item-products-ads__slider slider-item-products-ads">
                           <div class="slider-item-products-ads__body swiper">
                              <div class="slider-item-products-ads__wrapper swiper-wrapper">
                                  {% for images in object.photos.all %}
                                      <div class="slider-item-products-ads__slide swiper-slide">
                                        <a href="" class="slider-item-products-ads__image -ai"><img src="{{ images.photo.url }}" alt=""></a>
                                     </div>
                                  {% endfor %}
                              </div>
                           </div>
                           <a href="{% url 'entertainments-detail' object.pk %}" class="slider-item-products-ads__pagination -slider-pagination-row"></a>
                        </div>
                        <div class="item-products-ads__content item-content">
                           <div class="item-content__meta">
                              <div class="item-content__info">
                                 <span><span class="-icon-map"></span>{{ object.address }}</span>
                              </div>
                           </div>
                           <div class="item-content__row">
                              <a href="{% url 'entertainments-detail' object.pk %}" class="item-content__title">{{ object.title }}</a>
                           </div>
                           <div class="item-content__category">{{ object.type.type }}</div>
                           <div class="item-content__settings settings-item">
                              <div class="settings-item__item">
                                 <h4 class="settings-item__title">Work time</h4>
                                 <div class="settings-item__text">{{ object.start_time|time:"H:i" }} - {{ object.end_time|time:"H:i" }}</div>
                              </div>
                           </div>
                           <div class="item-content__footer item-content__footer_df">
                              <div class="item-content__rating"><span class="-icon-star"></span>4.7 (145 review)</div>
                              <div class="item-content__actions">
                                 <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                 <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                              </div>
                           </div>
                        </div>
                     </div>

                      {% endfor %}

                  </div>
               </div>
            </div>
         </div>
         <div class="page__question question question_cafe">
            <div class="question__container -container">
               <h2 class="question__title title">Do you have something to sell?</h2>
               <div class="question__subtitle subtitle">This is where businesses in Bangladesh trade, numerous business and industry services offered<br> to trade and consumers.</div>
               <a href="" class="question__btn btn">Submit on ad</a>
            </div>
         </div>
      </div>
{% endblock %}