{% extends 'base.html' %}
{% load static %}

{% block title %}popup{% endblock %}


{% block content %}
      <a href="" style="margin-top: 500px; font-size: 300px;" data-popup-link=".submit-popup-categories" >open Please</a>
      <div class="page">
         <div class="submit-popup-categories submit-popup-categories_categories -open" data-popup>
            <div class="submit-popup-categories__body" data-popup-body>
               <div class="submit-popup-categories__content" data-popup-content>
                  <a href="" class="submit-popup-categories__close" data-popup-close><span class="-icon-arrow-right"></span></a>
                  <h3 class="submit-popup-categories__title title-submit-popup title-submit-popup_big">Choose categories</h3>
                  <div class="submit-popup-categories__items">
                     <div class="submit-popup-categories__item item-submit-popup-categories">
                           <a href="" class="item-submit-popup-categories__link" data-popup-link=".submit-popup-categories_links"></a>
                           <div class="item-submit-popup-categories__images">
                              <img src="img/submit-popup-categories/image.svg" alt="">
                              <div class="item-submit-popup-categories__image">
                                 <img src="img/submit-popup-categories/image.svg" alt="">
                              </div>
                              <div class="item-submit-popup-categories__image">
                                 <img src="img/submit-popup-categories/image-white.svg" alt="">
                              </div>
                           </div>
                           <div class="item-submit-popup-categories__content">
                              <div class="item-submit-popup-categories__label">Vehicle</div>
                              
                           </div>
                     </div>
                     <div class="submit-popup-categories__item item-submit-popup-categories">
                           <a href="" class="item-submit-popup-categories__link"></a>
                           <div class="item-submit-popup-categories__images">
                              <img src="img/submit-popup-categories/image.svg" alt="">
                              <div class="item-submit-popup-categories__image">
                                 <img src="img/submit-popup-categories/image.svg" alt="">
                              </div>
                              <div class="item-submit-popup-categories__image">
                                 <img src="img/submit-popup-categories/image-white.svg" alt="">
                              </div>
                           </div>
                           <div class="item-submit-popup-categories__content">
                              <div class="item-submit-popup-categories__label">Vehicle</div>
                              
                           </div>
                     </div>
                     <div class="submit-popup-categories__item item-submit-popup-categories">
                           <a href="" class="item-submit-popup-categories__link"></a>
                           <div class="item-submit-popup-categories__images">
                              <img src="img/submit-popup-categories/image.svg" alt="">
                              <div class="item-submit-popup-categories__image">
                                 <img src="img/submit-popup-categories/image.svg" alt="">
                              </div>
                              <div class="item-submit-popup-categories__image">
                                 <img src="img/submit-popup-categories/image-white.svg" alt="">
                              </div>
                           </div>
                           <div class="item-submit-popup-categories__content">
                              <div class="item-submit-popup-categories__label">Vehicle</div>
                              
                           </div>
                     </div>
                     <div class="submit-popup-categories__item item-submit-popup-categories">
                           <a href="" class="item-submit-popup-categories__link"></a>
                           <div class="item-submit-popup-categories__images">
                              <img src="img/submit-popup-categories/image.svg" alt="">
                              <div class="item-submit-popup-categories__image">
                                 <img src="img/submit-popup-categories/image.svg" alt="">
                              </div>
                              <div class="item-submit-popup-categories__image">
                                 <img src="img/submit-popup-categories/image-white.svg" alt="">
                              </div>
                           </div>
                           <div class="item-submit-popup-categories__content">
                              <div class="item-submit-popup-categories__label">Vehicle</div>
                              
                           </div>
                     </div>
                     <div class="submit-popup-categories__item item-submit-popup-categories">
                           <a href="" class="item-submit-popup-categories__link"></a>
                           <div class="item-submit-popup-categories__images">
                              <img src="img/submit-popup-categories/image.svg" alt="">
                              <div class="item-submit-popup-categories__image">
                                 <img src="img/submit-popup-categories/image.svg" alt="">
                              </div>
                              <div class="item-submit-popup-categories__image">
                                 <img src="img/submit-popup-categories/image-white.svg" alt="">
                              </div>
                           </div>
                           <div class="item-submit-popup-categories__content">
                              <div class="item-submit-popup-categories__label">Vehicle</div>
                              
                           </div>
                     </div>
                     <div class="submit-popup-categories__item item-submit-popup-categories">
                           <a href="" class="item-submit-popup-categories__link"></a>
                           <div class="item-submit-popup-categories__images">
                              <img src="img/submit-popup-categories/image.svg" alt="">
                              <div class="item-submit-popup-categories__image">
                                 <img src="img/submit-popup-categories/image.svg" alt="">
                              </div>
                              <div class="item-submit-popup-categories__image">
                                 <img src="img/submit-popup-categories/image-white.svg" alt="">
                              </div>
                           </div>
                           <div class="item-submit-popup-categories__content">
                              <div class="item-submit-popup-categories__label">Vehicle</div>
                              
                           </div>
                     </div>
                     <div class="submit-popup-categories__item item-submit-popup-categories">
                           <a href="" class="item-submit-popup-categories__link"></a>
                           <div class="item-submit-popup-categories__images">
                              <img src="img/submit-popup-categories/image.svg" alt="">
                              <div class="item-submit-popup-categories__image">
                                 <img src="img/submit-popup-categories/image.svg" alt="">
                              </div>
                              <div class="item-submit-popup-categories__image">
                                 <img src="img/submit-popup-categories/image-white.svg" alt="">
                              </div>
                           </div>
                           <div class="item-submit-popup-categories__content">
                              <div class="item-submit-popup-categories__label">Vehicle</div>
                              
                           </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="submit-popup-categories submit-popup-categories_links" data-popup>
            <div class="submit-popup-categories__body" data-popup-body>
               <div class="submit-popup-categories__content" data-popup-content>
                  <a href="" class="submit-popup-categories__close" data-popup-close><span class="-icon-arrow-right"></span></a>
                  <h3 class="submit-popup-categories__title title-submit-popup title-submit-popup_small">Choose categories</h3>
                  <div class="submit-popup-categories__row">
                     <div class="submit-popup-categories__col submit-popup-categories__col_1">
                        <div class="submit-popup-categories__wrap" data-scroll>
                           <ul class="submit-popup-categories__list -categories-list" data-scroll-content>
                              <li class="submit-popup-categories__link -categories-li">
                                 <div class="submit-popup-categories__item-row">
                                    Vacancy
                                    <span class="-icon-arrow-right"></span>
                                 </div>
                                 <div class="submit-popup-categories__col submit-popup-categories__col_2 -categories-col">
                                    <a href="" class="submit-popup-categories__close submit-popup-categories__close_hide -close-col"><span class="-icon-arrow-right"></span></a>
                                    <h3 class="submit-popup-categories__title submit-popup-categories__title_hide title-submit-popup title-submit-popup_small">Appartment</h3>
                                    <div class="submit-popup-categories__wrap" data-scroll>
                                       <ul class="submit-popup-categories__sub-list -categories-list" data-scroll-content>
                                          <li class="submit-popup-categories__link -categories-li">
                                             <div class="submit-popup-categories__item-row">
                                                Part time
                                                <span class="-icon-arrow-right"></span>
                                             </div>
                                             <div class="submit-popup-categories__col submit-popup-categories__col_3 -categories-col">
                                                <a href="" class="submit-popup-categories__close submit-popup-categories__close_hide -close-col"><span class="-icon-arrow-right"></span></a>
                                                <h3 class="submit-popup-categories__title submit-popup-categories__title_hide title-submit-popup title-submit-popup_small">Appartment</h3>
                                                <div class="submit-popup-categories__wrap" data-scroll>
                                                   <ul class="submit-popup-categories__sub-sub-list -categories-list" data-scroll-content>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                   </ul>
                                                </div>
                                             </div>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </li>
                              <li class="submit-popup-categories__link -categories-li">
                                 <div class="submit-popup-categories__item-row">
                                    Vacancy
                                    <span class="-icon-arrow-right"></span>
                                 </div>
                                 <div class="submit-popup-categories__col submit-popup-categories__col_2 -categories-col">
                                    <a href="" class="submit-popup-categories__close submit-popup-categories__close_hide -close-col"><span class="-icon-arrow-right"></span></a>
                                    <h3 class="submit-popup-categories__title submit-popup-categories__title_hide title-submit-popup title-submit-popup_small">Appartment</h3>
                                    <div class="submit-popup-categories__wrap" data-scroll>
                                       <ul class="submit-popup-categories__sub-list -categories-list" data-scroll-content>
                                          <li>
                                             <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                Builder
                                                <span class="-icon-arrow-right"></span>
                                             </a>
                                          </li>
                                          <li>
                                             <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                Builder
                                                <span class="-icon-arrow-right"></span>
                                             </a>
                                          </li>
                                          <li>
                                             <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                Builder
                                                <span class="-icon-arrow-right"></span>
                                             </a>
                                          </li>
                                          <li>
                                             <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                Builder
                                                <span class="-icon-arrow-right"></span>
                                             </a>
                                          </li>
                                          <li>
                                             <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                Builder
                                                <span class="-icon-arrow-right"></span>
                                             </a>
                                          </li>
                                          <li>
                                             <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                Builder
                                                <span class="-icon-arrow-right"></span>
                                             </a>
                                          </li>
                                          <li>
                                             <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                Builder
                                                <span class="-icon-arrow-right"></span>
                                             </a>
                                          </li>
                                          <li>
                                             <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                Builder
                                                <span class="-icon-arrow-right"></span>
                                             </a>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </li>
                              <li class="submit-popup-categories__link -categories-li">
                                 <div class="submit-popup-categories__item-row">
                                    Vacancy
                                    <span class="-icon-arrow-right"></span>
                                 </div>
                                 <div class="submit-popup-categories__col submit-popup-categories__col_2 -categories-col">
                                    <a href="" class="submit-popup-categories__close submit-popup-categories__close_hide -close-col"><span class="-icon-arrow-right"></span></a>
                                    <h3 class="submit-popup-categories__title submit-popup-categories__title_hide title-submit-popup title-submit-popup_small">Appartment</h3>
                                    <div class="submit-popup-categories__wrap" data-scroll>
                                       <ul class="submit-popup-categories__sub-list -categories-list" data-scroll-content>
                                          <li class="submit-popup-categories__link -categories-li">
                                             <div class="submit-popup-categories__item-row">
                                                Part time
                                                <span class="-icon-arrow-right"></span>
                                             </div>
                                             <div class="submit-popup-categories__col submit-popup-categories__col_3 -categories-col">
                                                <a href="" class="submit-popup-categories__close submit-popup-categories__close_hide -close-col"><span class="-icon-arrow-right"></span></a>
                                                <h3 class="submit-popup-categories__title submit-popup-categories__title_hide title-submit-popup title-submit-popup_small">Appartment</h3>
                                                <div class="submit-popup-categories__wrap" data-scroll>
                                                   <ul class="submit-popup-categories__sub-sub-list -categories-list" data-scroll-content>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                   </ul>
                                                </div>
                                             </div>
                                          </li>
                                          <li class="submit-popup-categories__link -categories-li">
                                             <div class="submit-popup-categories__item-row">
                                                Part time
                                                <span class="-icon-arrow-right"></span>
                                             </div>
                                             <div class="submit-popup-categories__col submit-popup-categories__col_3 -categories-col">
                                                <a href="" class="submit-popup-categories__close submit-popup-categories__close_hide -close-col"><span class="-icon-arrow-right"></span></a>
                                                <h3 class="submit-popup-categories__title submit-popup-categories__title_hide title-submit-popup title-submit-popup_small">Appartment</h3>
                                                <div class="submit-popup-categories__wrap" data-scroll>
                                                   <ul class="submit-popup-categories__sub-sub-list -categories-list" data-scroll-content>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                   </ul>
                                                </div>
                                             </div>
                                          </li>
                                          <li class="submit-popup-categories__link -categories-li">
                                             <div class="submit-popup-categories__item-row">
                                                Part time
                                                <span class="-icon-arrow-right"></span>
                                             </div>
                                             <div class="submit-popup-categories__col submit-popup-categories__col_3 -categories-col">
                                                <a href="" class="submit-popup-categories__close submit-popup-categories__close_hide -close-col"><span class="-icon-arrow-right"></span></a>
                                                <h3 class="submit-popup-categories__title submit-popup-categories__title_hide title-submit-popup title-submit-popup_small">Appartment</h3>
                                                <div class="submit-popup-categories__wrap" data-scroll>
                                                   <ul class="submit-popup-categories__sub-sub-list -categories-list" data-scroll-content>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                   </ul>
                                                </div>
                                             </div>
                                          </li>
                                          <li class="submit-popup-categories__link -categories-li">
                                             <div class="submit-popup-categories__item-row">
                                                Part time
                                                <span class="-icon-arrow-right"></span>
                                             </div>
                                             <div class="submit-popup-categories__col submit-popup-categories__col_3 -categories-col">
                                                <a href="" class="submit-popup-categories__close submit-popup-categories__close_hide -close-col"><span class="-icon-arrow-right"></span></a>
                                                <h3 class="submit-popup-categories__title submit-popup-categories__title_hide title-submit-popup title-submit-popup_small">Appartment</h3>
                                                <div class="submit-popup-categories__wrap" data-scroll>
                                                   <ul class="submit-popup-categories__sub-sub-list -categories-list" data-scroll-content>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                   </ul>
                                                </div>
                                             </div>
                                          </li>
                                          <li class="submit-popup-categories__link -categories-li">
                                             <div class="submit-popup-categories__item-row">
                                                Part time
                                                <span class="-icon-arrow-right"></span>
                                             </div>
                                             <div class="submit-popup-categories__col submit-popup-categories__col_3 -categories-col">
                                                <a href="" class="submit-popup-categories__close submit-popup-categories__close_hide -close-col"><span class="-icon-arrow-right"></span></a>
                                                <h3 class="submit-popup-categories__title submit-popup-categories__title_hide title-submit-popup title-submit-popup_small">Appartment</h3>
                                                <div class="submit-popup-categories__wrap" data-scroll>
                                                   <ul class="submit-popup-categories__sub-sub-list -categories-list" data-scroll-content>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                   </ul>
                                                </div>
                                             </div>
                                          </li>
                                          <li class="submit-popup-categories__link -categories-li">
                                             <div class="submit-popup-categories__item-row">
                                                Part time
                                                <span class="-icon-arrow-right"></span>
                                             </div>
                                             <div class="submit-popup-categories__col submit-popup-categories__col_3 -categories-col">
                                                <a href="" class="submit-popup-categories__close submit-popup-categories__close_hide -close-col"><span class="-icon-arrow-right"></span></a>
                                                <h3 class="submit-popup-categories__title submit-popup-categories__title_hide title-submit-popup title-submit-popup_small">Appartment</h3>
                                                <div class="submit-popup-categories__wrap" data-scroll>
                                                   <ul class="submit-popup-categories__sub-sub-list -categories-list" data-scroll-content>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                   </ul>
                                                </div>
                                             </div>
                                          </li>
                                          <li class="submit-popup-categories__link -categories-li">
                                             <div class="submit-popup-categories__item-row">
                                                Part time
                                                <span class="-icon-arrow-right"></span>
                                             </div>
                                             <div class="submit-popup-categories__col submit-popup-categories__col_3 -categories-col">
                                                <a href="" class="submit-popup-categories__close submit-popup-categories__close_hide -close-col"><span class="-icon-arrow-right"></span></a>
                                                <h3 class="submit-popup-categories__title submit-popup-categories__title_hide title-submit-popup title-submit-popup_small">Appartment</h3>
                                                <div class="submit-popup-categories__wrap" data-scroll>
                                                   <ul class="submit-popup-categories__sub-sub-list -categories-list" data-scroll-content>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                      <li>
                                                         <a href="" class="submit-popup-categories__item-row submit-popup-categories__link -categories-li -categories-li-no">
                                                            Builder
                                                            <span class="-icon-arrow-right"></span>
                                                         </a>
                                                      </li>
                                                   </ul>
                                                </div>
                                             </div>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
{% endblock %}