{% extends 'base.html' %}
{% load static %}

{% block title %}Profile page{% endblock %}


{% block content %}
      <div class="page">
         <div class="page__top-block top-block top-block_padding top-block_submit">
            <div class="top-block__image -ai"><img src="img/top-block/image.jpg" alt=""></div>
            <div class="top-block__container -container">
               <div class="top-block__body">
                  <h2 class="top-block__title top-title">Submit job</h2>
                  <!-- <div class="top-block__row"> -->
                     <!-- <div class="top-block__breadcrumbs breadcrumbs-top-block breadcrumbs-top-block_hide">
                        <ul class="breadcrumbs-top-block__list">
                           <li><a href="">Home</a></li>
                           <li>app</li>
                           <li>for sale</li>
                        </ul>
                     </div> -->
                  <!-- </div> -->
               </div>
            </div>
         </div>
         <div class="page__submit submit">
            <div class="submit__container -container">
               <form action="#" class="submit-detail__form">
                  <div class="submit__main">
                     <div class="submit__item submit-auto submit-auto_job">
                        <h3 class="submit-auto__title title-submit">Auto info</h3>
                        <div class="submit-auto__row">
                           <div class="submit-auto__item">
                              <h4 class="submit-auto__label label-submit">Heading</h4>
                              <div class="submit-auto__input -input-submit"><input class="-req" autocomplete="off" type="text" name="heading" data-value="Builder for houses"></div>
                           </div>
                        </div>
                        <div class="submit-auto__grid">
                           <div class="submit-auto__item">
                              <h4 class="submit-auto__label label-submit">Work graphic</h4>
                              <div class="submit-auto__select -select-green">
                                 <select name="graphic" class="submit-auto-select" data-custom-select>
                                    <option value="Full time">Full time</option>
                                    <option value="Full time">Full time</option>
                                 </select>
                              </div>
                           </div>
                           <div class="submit-auto__wrap">
                              <h4 class="submit-auto__label label-submit">The salery <span class="submit-auto__sublabel label-red">(If the salary is fixed, enter the same value in both cells)</span></h4>
                              <div class="submit-auto__salery">
                                 <div class="submit-auto__inputs">
                                    <div class="submit-auto__input -input-green -input-submit"><input class="-req" autocomplete="off" type="number" name="salery-from" data-value="From"></div>
                                    <div class="submit-auto__input -input-green -input-submit"><input class="-req" autocomplete="off" type="number" name="salery-to" data-value="to"></div>
                                 </div>
                                 <div class="submit-auto__select">
                                    <select name="currency" class="submit-price-select" data-custom-select>
                                       <option value="USD">USD</option>
                                       <option value="USD">USD</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                           <div class="submit-auto__item">
                              <h4 class="submit-auto__label label-submit">Where to work</h4>
                              <div class="submit-auto__select -select-green">
                                 <select name="where-to-work" class="submit-auto-select" data-custom-select>
                                    <option value="Construction">Construction</option>
                                    <option value="Construction">Construction</option>
                                 </select>
                              </div>
                           </div>
                           <div class="submit-auto__item">
                              <h4 class="submit-auto__label label-submit">Experience</h4>
                              <div class="submit-auto__select -select-green">
                                 <select name="experience" class="submit-auto-select" data-custom-select>
                                    <option value="1-3 year">1-3 year</option>
                                    <option value="1-3 year">1-3 year</option>
                                 </select>
                              </div>
                           </div>
                           <div class="submit-auto__item">
                              <h4 class="submit-auto__label label-submit">Languages</h4>
                              <div class="submit-auto__input -input-green -input-submit"><input class="-req" autocomplete="off" type="text" name="languages" data-value="English"></div>
                           </div>
                           <div class="submit-auto__footer">
                              <div class="submit-auto__item">
                                 <h4 class="submit-auto__label label-submit">Level</h4>
                                 <div class="submit-auto__language">
                                    <div class="submit-auto__select -select-green">
                                       <select name="country" class="submit-auto-select" data-custom-select>
                                          <option value="Beginer">Beginer</option>
                                          <option value="Beginer">Beginer</option>
                                       </select>
                                    </div>
                                    <a href="" class="submit-auto__add-language">+ add language</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- <div class="submit-auto__footer">
                        </div> -->
                     </div>
                     <div class="submit__item submit-lacation">
                        <h3 class="submit-lacation__title title-submit">Location</h3>
                        <div class="submit-lacation__row">
                           <div class="submit-lacation__item">
                              <h4 class="submit-lacation__label label-submit">Country</h4>
                              <div class="submit-lacation__select -select-green">
                                 <select name="country" class="submit-lacation-select" data-custom-select>
                                    <option value="USA">USA</option>
                                    <option value="USA">USA</option>
                                 </select>
                              </div>
                           </div>
                           <div class="submit-lacation__item">
                              <h4 class="submit-lacation__label label-submit">State</h4>
                              <div class="submit-lacation__select">
                                 <select name="state" class="submit-lacation-select" data-custom-select>
                                    <option value="CA">CA</option>
                                    <option value="CA">CA</option>
                                 </select>
                              </div>
                           </div>
                           <div class="submit-lacation__item">
                              <h4 class="submit-lacation__label label-submit">Address</h4>
                              <div class="submit-lacation__input -input-submit"><input class="-req" autocomplete="off" type="text" name="address" data-value="Norten str 25"></div>
                           </div>
                        </div>
                        <div class="submit-lacation__map"><iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6699051.043275679!2d21.940572607847184!3d34.9310098493962!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1657230954283!5m2!1sru!2sua" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                        <div class="submit-lacation__label label-red">The exact address will help attract interested buyers</div>
                     </div>
                     <div class="submit__item submit-price">
                        <h3 class="submit-price__title title-submit">Price</h3>
                        <div class="submit-price__row">
                           <div class="submit-price__input -input-submit"><input class="-req" autocomplete="off" type="number" name="price" data-value="1231321"></div>
                           <div class="submit-price__select">
                              <select name="currency" class="submit-price-select" data-custom-select>
                                 <option value="USD">USD</option>
                                 <option value="USD">USD</option>
                              </select>
                           </div>
                        </div>
                     </div>
                     <div class="submit__item submit-description">
                        <h3 class="submit-description__title title-submit">Requirement</h3>
                        <div class="submit-description__input -input-green"><textarea class="-req" name="requirement" data-value="Write Requirement here"></textarea></div>
                     </div>
                     <div class="submit__item submit-description">
                        <h3 class="submit-description__title title-submit">Description</h3>
                        <div class="submit-description__input -input-green"><textarea class="-req" name="about" data-value="Write short descripsion"></textarea></div>
                     </div>
                     <div class="submit__item submit-contacts">
                        <h3 class="submit-contacts__title title-submit">Contacts</h3>
                        <div class="submit-contacts__grid">
                           <div class="submit-contacts__item">
                              <h4 class="submit-contacts__label label-submit">Name</h4>
                              <div class="submit-contacts__input -input-green -input-submit"><input class="-req -name" autocomplete="off" type="text" name="name" data-value="John Doe"></div>
                           </div>
                           <div class="submit-contacts__item">
                              <h4 class="submit-contacts__label label-submit">E-mail</h4>
                              <div class="submit-contacts__input -input-submit"><input class="-req -email" autocomplete="off" type="text" name="email" data-value="example@example.com"></div>
                           </div>
                           <div class="submit-contacts__item">
                              <h4 class="submit-contacts__label label-submit">Phone number</h4>
                              <div class="submit-contacts__row">
                                 <div class="submit-contacts__input -input-submit"><input class="-req" autocomplete="off" type="text" name="code-number" value="+1"></div>
                                 <div class="submit-contacts__input -input-green -input-submit"><input class="-req -tel-code-input" autocomplete="off" type="number" name="phone"></div>
                              </div>
                           </div>
                           <div class="submit-contacts__item">
                              <h4 class="submit-contacts__label submit-contacts__label_file label-submit">Add photo (max 5) </h4>
                              <div class="submit-contacts__photos photos-submit-contacts">
                                 <div class="photos-submit-contacts__items">
                                    <label class="photos-submit-contacts__input -file-green"><span>+</span><input class="-req -file" accept=".png, .jpg, .jpeg" type="file" max="5" name="file"></label>
                                    <div class="photos-submit-contacts__item">
                                       <a href="" class="photos-submit-contacts__action"><span class="-icon-delete"></span></a>
                                       <a href="" class="photos-submit-contacts__image -ai">
                                          <img src="img/news/image-01.jpg" alt="">
                                       </a>
                                    </div>
                                 </div>
                                 <a href="" class="photos-submit-contacts__delete" data-me="767.98, .submit-contacts__label_file, last">Delete all <span class="-icon-delete-bg"></span></a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="submit__footer">
                     <div class="submit__btns">
                        <a href="" class="submit__btn submit__btn_preview">Preview</a>
                        <button type="submit" class="submit__btn submit__btn_add">Place un add</button>
                     </div>
                     <div class="submit__label">You can always change the ad parameters in your personal account</div>
                  </div>
               </form>
            </div>
         </div>
      </div>
{% endblock %}