{% extends 'base.html' %}
{% load static %}
{% block content %}
      <div class="page">
         <div class="page__top-block top-block top-block_padding top-block_news">
            <div class="top-block__image -ai"><img src="img/top-block/image.jpg" alt=""></div>
            <div class="top-block__container -container">
               <div class="top-block__body">
                  <h2 class="top-block__title top-title top-title_ads-single">News</h2>
                  <div class="top-block__search search search_top">
                     <div class="search__body">
                        <form action="#" class="search__row">
                           <div class="search__input"><input class="-req -name" autocomplete="off" type="text" name="keyword"
                                 data-value="Your keyword"></div>
                           <button type="submit" class="search__btn"><span>Search</span><span
                                 class="-icon-search"></span></button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="page__articles articles">
            <div class="articles__container -container">
               <form action="#" class="articles__form form-articles -event-change">
                  <label>
                     <input type="checkbox" name="news">
                     <span class="form-articles__item">Новости Армении</span>
                  </label>
                  <label>
                     <input type="checkbox" name="news">
                     <span class="form-articles__item">Новости LA</span>
                  </label>
                  <label>
                     <input type="checkbox" name="news">
                     <span class="form-articles__item">Мировые новости</span>
                  </label>
                  <label>
                     <input type="checkbox" name="news">
                     <span class="form-articles__item">Важные</span>
                  </label>
                  <label>
                     <input type="checkbox" name="news">
                     <span class="form-articles__item">Политика</span>
                  </label>
                  <label>
                     <input type="checkbox" name="news">
                     <span class="form-articles__item">Экономика</span>
                  </label>
                  <label>
                     <input type="checkbox" name="news">
                     <span class="form-articles__item">Спорт</span>
                  </label>
                  <label>
                     <input type="checkbox" name="news">
                     <span class="form-articles__item">Авто</span>
                  </label>
                  <label>
                     <input type="checkbox" name="news">
                     <span class="form-articles__item">Наука</span>
                  </label>
                  <label>
                     <input type="checkbox" name="news">
                     <span class="form-articles__item">Культура</span>
                  </label>
               </form>
               <div class="articles-items__wrap">
                  <div class="articles__articles articles-items">
                     <div class="articles-items__item articles-item articles-item_big -articles-item-bg">
                        <a href="" class="articles-item__link"></a>
                        <a href="" class="articles-item__image -ai"><img src="{% static 'img/articles/image.jpg' %}" alt=""></a>
                        <div class="articles-item__body">
                           <h4 class="articles-item__subtitle">
                              Business Strategy
                              <span class="articles-item__actions">
                                 <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                 <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                              </span>
                           </h4>
                           <h3 class="articles-item__title">Audit Your New Store: 7 Rules for Writing Engaging Fashion and Apparel Product Descriptions</h3>
                           <div class="articles-item__text">Your ideal customer has just landed on your website. They clicked on all the right CTAs along the way. They navigated successfully to the product information page. And they’re finally reading the product description for that brand new sports bra when BOOM. They exit. Every business owner’s worst nightmare.</div>
                           <div class="articles-item__footer">
                              <a href="{% url 'news-detail' %}" class="articles-item__more">Read More article</a>
                              <a href="" class="articles-item__more">лента ру</a>
                           </div>
                        </div>
                     </div>
                     <div class="articles-items__item articles-item -articles-item-bg">
                        <a href="" class="articles-item__link"></a>
                        <a href="" class="articles-item__image -ai"><img src="{% static 'img/articles/image.jpg' %}" alt=""></a>
                        <div class="articles-item__body articles-item__body_small">
                           <h4 class="articles-item__subtitle">
                              December 30, 2019
                              <span class="articles-item__actions">
                                 <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                 <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                              </span>
                           </h4>
                           <h3 class="articles-item__title">How, when and why we stay in touch with installers and customers</h3>
                           <div class="articles-item__text">Staying in touch with customers is important for any company; it often forms part of any good marketing strategy.</div>
                           <div class="articles-item__footer">
                              <a href="" class="articles-item__more">Read More article</a>
                              <a href="" class="articles-item__more">лента ру</a>
                           </div>
                        </div>
                     </div>
                     <div class="articles-items__item articles-item -articles-item-bg">
                        <a href="" class="articles-item__link"></a>
                        <a href="" class="articles-item__image -ai"><img src="{% static 'img/articles/image.jpg' %}" alt=""></a>
                        <div class="articles-item__body articles-item__body_small">
                           <h4 class="articles-item__subtitle">
                              December 30, 2019
                              <span class="articles-item__actions">
                                 <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                 <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                              </span>
                           </h4>
                           <h3 class="articles-item__title">How, when and why we stay in touch with installers and customers</h3>
                           <div class="articles-item__text">Staying in touch with customers is important for any company; it often forms part of any good marketing strategy.</div>
                           <div class="articles-item__footer">
                              <a href="" class="articles-item__more">Read More article</a>
                              <a href="" class="articles-item__more">лента ру</a>
                           </div>
                        </div>
                     </div>
                     <div class="articles-items__item articles-item -articles-item-bg">
                        <a href="" class="articles-item__link"></a>
                        <a href="" class="articles-item__image -ai"><img src="{% static 'img/articles/image.jpg' %}" alt=""></a>
                        <div class="articles-item__body articles-item__body_small">
                           <h4 class="articles-item__subtitle">
                              December 30, 2019
                              <span class="articles-item__actions">
                                 <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                 <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                              </span>
                           </h4>
                           <h3 class="articles-item__title">How, when and why we stay in touch with installers and customers</h3>
                           <div class="articles-item__text">Staying in touch with customers is important for any company; it often forms part of any good marketing strategy.</div>
                           <div class="articles-item__footer">
                              <a href="" class="articles-item__more">Read More article</a>
                              <a href="" class="articles-item__more">лента ру</a>
                           </div>
                        </div>
                     </div>
                     <div class="articles-items__item articles-item -articles-item-bg">
                        <a href="" class="articles-item__link"></a>
                        <a href="" class="articles-item__image -ai"><img src="{% static 'img/articles/image.jpg' %}" alt=""></a>
                        <div class="articles-item__body articles-item__body_small">
                           <h4 class="articles-item__subtitle">
                              December 30, 2019
                              <span class="articles-item__actions">
                                 <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                 <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                              </span>
                           </h4>
                           <h3 class="articles-item__title">How, when and why we stay in touch with installers and customers</h3>
                           <div class="articles-item__text">Staying in touch with customers is important for any company; it often forms part of any good marketing strategy.</div>
                           <div class="articles-item__footer">
                              <a href="" class="articles-item__more">Read More article</a>
                              <a href="" class="articles-item__more">лента ру</a>
                           </div>
                        </div>
                     </div>
                     <div class="articles-items__item articles-item -articles-item-bg">
                        <a href="" class="articles-item__link"></a>
                        <a href="" class="articles-item__image -ai"><img src="{% static 'img/articles/image.jpg' %}" alt=""></a>
                        <div class="articles-item__body articles-item__body_small">
                           <h4 class="articles-item__subtitle">
                              December 30, 2019
                              <span class="articles-item__actions">
                                 <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                 <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                              </span>
                           </h4>
                           <h3 class="articles-item__title">How, when and why we stay in touch with installers and customers</h3>
                           <div class="articles-item__text">Staying in touch with customers is important for any company; it often forms part of any good marketing strategy.</div>
                           <div class="articles-item__footer">
                              <a href="" class="articles-item__more">Read More article</a>
                              <a href="" class="articles-item__more">лента ру</a>
                           </div>
                        </div>
                     </div>
                     <div class="articles-items__item articles-item -articles-item-bg">
                        <a href="" class="articles-item__link"></a>
                        <a href="" class="articles-item__image -ai"><img src="{% static 'img/articles/image.jpg' %}" alt=""></a>
                        <div class="articles-item__body articles-item__body_small">
                           <h4 class="articles-item__subtitle">
                              December 30, 2019
                              <span class="articles-item__actions">
                                 <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                 <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                              </span>
                           </h4>
                           <h3 class="articles-item__title">How, when and why we stay in touch with installers and customers</h3>
                           <div class="articles-item__text">Staying in touch with customers is important for any company; it often forms part of any good marketing strategy.</div>
                           <div class="articles-item__footer">
                              <a href="" class="articles-item__more">Read More article</a>
                              <a href="" class="articles-item__more">лента ру</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="articles__footer">
                     <a href="" class="articles__more btn-more">Shoe More News</a>
                  </div>
               </div>
               <div class="articles-items__wrap">
                  <div class="articles-items__header">
                     <div class="articles-items__title">Важные</div>
                  </div>
                  <div class="articles__articles articles-items">
                     <div class="articles-items__item articles-item -articles-item-bg">
                        <a href="" class="articles-item__link"></a>
                        <a href="" class="articles-item__image -ai"><img src="{% static 'img/articles/image.jpg' %}" alt=""></a>
                        <div class="articles-item__body articles-item__body_small">
                           <h4 class="articles-item__subtitle">
                              December 30, 2019
                              <span class="articles-item__actions">
                                 <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                 <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                              </span>
                           </h4>
                           <h3 class="articles-item__title">How, when and why we stay in touch with installers and customers</h3>
                           <div class="articles-item__text">Staying in touch with customers is important for any company; it often forms part of any good marketing strategy.</div>
                           <div class="articles-item__footer">
                              <a href="" class="articles-item__more">Read More article</a>
                              <a href="" class="articles-item__more">лента ру</a>
                           </div>
                        </div>
                     </div>
                     <div class="articles-items__item articles-item -articles-item-bg">
                        <a href="" class="articles-item__link"></a>
                        <a href="" class="articles-item__image -ai"><img src="{% static 'img/articles/image.jpg' %}" alt=""></a>
                        <div class="articles-item__body articles-item__body_small">
                           <h4 class="articles-item__subtitle">
                              December 30, 2019
                              <span class="articles-item__actions">
                                 <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                 <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                              </span>
                           </h4>
                           <h3 class="articles-item__title">How, when and why we stay in touch with installers and customers</h3>
                           <div class="articles-item__text">Staying in touch with customers is important for any company; it often forms part of any good marketing strategy.</div>
                           <div class="articles-item__footer">
                              <a href="" class="articles-item__more">Read More article</a>
                              <a href="" class="articles-item__more">лента ру</a>
                           </div>
                        </div>
                     </div>
                     <div class="articles-items__item articles-item -articles-item-bg">
                        <a href="" class="articles-item__link"></a>
                        <a href="" class="articles-item__image -ai"><img src="{% static 'img/articles/image.jpg' %}" alt=""></a>
                        <div class="articles-item__body articles-item__body_small">
                           <h4 class="articles-item__subtitle">
                              December 30, 2019
                              <span class="articles-item__actions">
                                 <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                 <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                              </span>
                           </h4>
                           <h3 class="articles-item__title">How, when and why we stay in touch with installers and customers</h3>
                           <div class="articles-item__text">Staying in touch with customers is important for any company; it often forms part of any good marketing strategy.</div>
                           <div class="articles-item__footer">
                              <a href="" class="articles-item__more">Read More article</a>
                              <a href="" class="articles-item__more">лента ру</a>
                           </div>
                        </div>
                     </div>
                     <div class="articles-items__item articles-item -articles-item-bg">
                        <a href="" class="articles-item__link"></a>
                        <a href="" class="articles-item__image -ai"><img src="{% static 'img/articles/image.jpg' %}" alt=""></a>
                        <div class="articles-item__body articles-item__body_small">
                           <h4 class="articles-item__subtitle">
                              December 30, 2019
                              <span class="articles-item__actions">
                                 <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                 <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                              </span>
                           </h4>
                           <h3 class="articles-item__title">How, when and why we stay in touch with installers and customers</h3>
                           <div class="articles-item__text">Staying in touch with customers is important for any company; it often forms part of any good marketing strategy.</div>
                           <div class="articles-item__footer">
                              <a href="" class="articles-item__more">Read More article</a>
                              <a href="" class="articles-item__more">лента ру</a>
                           </div>
                        </div>
                     </div>
                     <div class="articles-items__item articles-item -articles-item-bg">
                        <a href="" class="articles-item__link"></a>
                        <a href="" class="articles-item__image -ai"><img src="{% static 'img/articles/image.jpg' %}" alt=""></a>
                        <div class="articles-item__body articles-item__body_small">
                           <h4 class="articles-item__subtitle">
                              December 30, 2019
                              <span class="articles-item__actions">
                                 <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                 <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                              </span>
                           </h4>
                           <h3 class="articles-item__title">How, when and why we stay in touch with installers and customers</h3>
                           <div class="articles-item__text">Staying in touch with customers is important for any company; it often forms part of any good marketing strategy.</div>
                           <div class="articles-item__footer">
                              <a href="" class="articles-item__more">Read More article</a>
                              <a href="" class="articles-item__more">лента ру</a>
                           </div>
                        </div>
                     </div>
                     <div class="articles-items__item articles-item -articles-item-bg">
                        <a href="" class="articles-item__link"></a>
                        <a href="" class="articles-item__image -ai"><img src="{% static 'img/articles/image.jpg' %}" alt=""></a>
                        <div class="articles-item__body articles-item__body_small">
                           <h4 class="articles-item__subtitle">
                              December 30, 2019
                              <span class="articles-item__actions">
                                 <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                 <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                              </span>
                           </h4>
                           <h3 class="articles-item__title">How, when and why we stay in touch with installers and customers</h3>
                           <div class="articles-item__text">Staying in touch with customers is important for any company; it often forms part of any good marketing strategy.</div>
                           <div class="articles-item__footer">
                              <a href="" class="articles-item__more">Read More article</a>
                              <a href="" class="articles-item__more">лента ру</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="page__question question question_news">
            <div class="question__container -container">
               <h2 class="question__title title">Do you have something to sell?</h2>
               <div class="question__subtitle subtitle">This is where businesses in Bangladesh trade, numerous business and industry services offered<br> to trade and consumers.</div>
               <a href="" class="question__btn btn">Submit on ad</a>
            </div>
         </div>
      </div>

{% endblock %}
