{% extends 'base.html' %}
{% load static %}
{% block content %}

      <div class="page">
         <div class="page__top-block top-block top-block_padding top-block_news-single">
            <div class="top-block__image -ai"><img src="img/top-block/image.jpg" alt=""></div>
            <div class="top-block__container -container">
               <div class="top-block__body">
                  <h2 class="top-block__title top-title top-title_ads-single">News single</h2>
                  <div class="top-block__search search search_top">
                     <div class="search__body">
                        <form action="#" class="search__row">
                           <div class="search__input"><input class="-req -name" autocomplete="off" type="text" name="keyword"
                                 data-value="Your keyword"></div>
                           <button type="submit" class="search__btn"><span>Search</span><span
                                 class="-icon-search"></span></button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="page__news-single news-single">
            <div class="news-single__container -container">
               <form action="#" class="news-single__form form-articles -event-change">
                  <label>
                     <input type="checkbox" name="news">
                     <span class="form-articles__item">Новости Армении</span>
                  </label>
                  <label>
                     <input type="checkbox" name="news">
                     <span class="form-articles__item">Новости LA</span>
                  </label>
                  <label>
                     <input type="checkbox" name="news">
                     <span class="form-articles__item">Мировые новости</span>
                  </label>
                  <label>
                     <input type="checkbox" name="news">
                     <span class="form-articles__item">Важные</span>
                  </label>
                  <label>
                     <input type="checkbox" name="news">
                     <span class="form-articles__item">Политика</span>
                  </label>
                  <label>
                     <input type="checkbox" name="news">
                     <span class="form-articles__item">Экономика</span>
                  </label>
                  <label>
                     <input type="checkbox" name="news">
                     <span class="form-articles__item">Спорт</span>
                  </label>
                  <label>
                     <input type="checkbox" name="news">
                     <span class="form-articles__item">Авто</span>
                  </label>
                  <label>
                     <input type="checkbox" name="news">
                     <span class="form-articles__item">Наука</span>
                  </label>
                  <label>
                     <input type="checkbox" name="news">
                     <span class="form-articles__item">Культура</span>
                  </label>
               </form>
               <div class="news-single__main">
                  <div class="news-single__header">
                     <h4 class="news-single__subtitle">Business Strategy</h4>
                     <h2 class="news-single__title title">{{ object.title }}</h2>
                     <div class="news-single__desc">by {{ object.created_by }}  {{ object.created_date }}</div>
                  </div>
                  <div class="news-single__image -ai"><img src="{{ object.photo.url }}" alt=""></div>
               </div>
               <div class="news-single__grid">
                  <div class="news-single__body">
                     <p><span class="news-single__text -text-news-single">{{ object.description }}</span></p>
{#                     <div class="news-single__items">#}
{#                        <div class="news-single__item">#}
{#                           <h4 class="news-single__label -title-news-single">1. What is the point of this meeting?</h4>#}
{#                           <div class="news-single__text -text-news-single">Yet, as many higher education professionals can surely attest to, I have also witnessed the other challenge in group decision making.  In academia, engaging in critical dissent is encouraged (reviewed by Jetten & Hornsey, 2014), and while this is a fine attribute, practically, this can mean that we sometimes spend so much time expressing our thoughts, opinions, and concerns trying to reach consensus and we somehow never arrive at decisions in a timely manner.</div>#}
{#                        </div>#}
{#                        <div class="news-single__item">#}
{#                           <h4 class="news-single__label -title-news-single">2. What is the problem?</h4>#}
{#                           <div class="news-single__text -text-news-single">To make decisions as a group, the problems must first be clarified.  In a meeting focused on problem-solving, be sure to agree on a definition of the problem before talking about potential solutions (Rogelberg, Scott, & Kello, 2007).</div>#}
{#                        </div>#}
{#                        <div class="news-single__item">#}
{#                           <h4 class="news-single__label -title-news-single">3. Have a leader who leads.</h4>#}
{#                           <div class="news-single__text -text-news-single">While everyone should feel comfortable talking, someone must lead.  Too often I have watched meetings end with “okay, well…we are out of time, so let’s continue this next time.” Or “let’s chew on this” or “let’s table this” or “well, there’s a lot here, so…..” (the sentence doesn’t even get completed as they look to the others for a direction).</div>#}
{#                           <div class="news-single__text -text-news-single">A leader needs to watch the time and not waste the point of the meeting.  Satisfaction with a meeting and perception of meeting productivity are significantly and positively related to leaders being able to move a meeting along and encourage decision making (Malouff et al., 2012).</div>#}
{#                        </div>#}
{#                     </div>#}
{#                     <div class="news-single__info -text-news-single">Yasmine is currently an Associate Professor of Psychology at Mount Saint Mary College where she teaches a wide array of courses in the Psychology department. She is a Fulbright Scholar spent a year working at the Medical Decision Making Center at  Ono Academic College in Israel.</div>#}
{#                     <p><span class="news-single__text -text-news-single">While everyone should feel comfortable talking, someone must lead.  Too often I have watched meetings end with “okay, well…we are out of time, so let’s continue this next time.” Or “let’s chew on this” or “let’s table this” or “well, there’s a lot here, so…..” (the sentence doesn’t even get completed as they look to the others for a direction).</span></p>#}
                     <div class="news-single__src"><a href="{{ object.link }}">{{ object.news_source }}</a></div>
                  </div>
                  <div class="news-single__side articles-item-side -articles-item-bg">
                     <div class="articles-item-side__row">
                        <h4 class="articles-item-side__title">About usyoo</h4>
                        <div class="articles-item-side__text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad  minim veniam, </div>
                        <div class="articles-item-side__slider slider-articles-item-side">
                           <div class="slider-articles-item-side__body swiper">
                              <div class="slider-articles-item-side__wrapper swiper-wrapper">
                                 <div class="slider-articles-item-side__slide swiper-slide">
                                    <a href="" class="slider-articles-item-side__link"></a>
                                    <div class="slider-articles-item-side__image -ai"><img src="{% static 'img/articles/image.jpg' %}" alt=""></div>
                                    <h4 class="slider-articles-item-side__title">House on the beverly hills</h4>
                                    <div class="slider-articles-item-side__price">$1245</div>
                                 </div>
                                 <div class="slider-articles-item-side__slide swiper-slide">
                                    <a href="" class="slider-articles-item-side__link"></a>
                                    <div class="slider-articles-item-side__image -ai"><img src="{% static 'img/articles/image.jpg' %}" alt=""></div>
                                    <h4 class="slider-articles-item-side__title">House on the beverly hills</h4>
                                    <div class="slider-articles-item-side__price">$1245</div>
                                 </div>
                              </div>
                           </div>
                           <div class="slider-articles-item-side__pagination -slider-pagination"></div>
                        </div>
                     </div>
                     <div class="articles-item-side__row">
                        <h4 class="articles-item-side__title">Categories</h4>
                        <ul class="articles-item-side__list">
                           <li>
                              <a href="" class="articles-item-side__item">Property</a>
                           </li>
                        </ul>
                     </div>
                     <div class="articles-item-side__row">
                        <h4 class="articles-item-side__title">Tags</h4>
                        <div class="articles-item-side__tags">
                           <a href="" class="articles-item-side__tag -active">News</a>
                           <a href="" class="articles-item-side__tag">News</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="page__similar-news similar-news">
            <div class="similar-news__container -container">
               <div class="similar-news__grid">
                  <div class="similar-news__item articles-item -articles-item-bg">
                     <a href="" class="articles-item__link"></a>
                     <a href="" class="articles-item__image -ai"><img src="{% static 'img/articles/image.jpg' %}" alt=""></a>
                     <div class="articles-item__body articles-item__body_small">
                        <h4 class="articles-item__subtitle">
                           December 30, 2019
                           <span class="articles-item__actions">
                              <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                              <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                           </span>
                        </h4>
                        <h3 class="articles-item__title">How, when and why we stay in touch with installers and customers</h3>
                        <div class="articles-item__text">Staying in touch with customers is important for any company; it often forms part of any good marketing strategy.</div>
                        <div class="articles-item__footer">
                           <a href="" class="articles-item__more">Read More article</a>
                           <a href="" class="articles-item__more"></a>
                        </div>
                     </div>
                  </div>
                  <div class="similar-news__item articles-item -articles-item-bg">
                     <a href="" class="articles-item__link"></a>
                     <a href="" class="articles-item__image -ai"><img src="{% static 'img/articles/image.jpg' %}" alt=""></a>
                     <div class="articles-item__body articles-item__body_small">
                        <h4 class="articles-item__subtitle">
                           December 30, 2019
                           <span class="articles-item__actions">
                              <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                              <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                           </span>
                        </h4>
                        <h3 class="articles-item__title">How, when and why we stay in touch with installers and customers</h3>
                        <div class="articles-item__text">Staying in touch with customers is important for any company; it often forms part of any good marketing strategy.</div>
                        <div class="articles-item__footer">
                           <a href="" class="articles-item__more">Read More article</a>
                           <a href="" class="articles-item__more">лента ру</a>
                        </div>
                     </div>
                  </div>
                  <div class="similar-news__item articles-item -articles-item-bg">
                     <a href="" class="articles-item__link"></a>
                     <a href="" class="articles-item__image -ai"><img src="{% static 'img/articles/image.jpg' %}" alt=""></a>
                     <div class="articles-item__body articles-item__body_small">
                        <h4 class="articles-item__subtitle">
                           December 30, 2019
                           <span class="articles-item__actions">
                              <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                              <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                           </span>
                        </h4>
                        <h3 class="articles-item__title">How, when and why we stay in touch with installers and customers</h3>
                        <div class="articles-item__text">Staying in touch with customers is important for any company; it often forms part of any good marketing strategy.</div>
                        <div class="articles-item__footer">
                           <a href="" class="articles-item__more">Read More article</a>
                           <a href="" class="articles-item__more">лента ру</a>
                        </div>
                     </div>
                  </div>
                  <div class="similar-news__item articles-item -articles-item-bg">
                     <a href="" class="articles-item__link"></a>
                     <a href="" class="articles-item__image -ai"><img src="{% static 'img/articles/image.jpg' %}" alt=""></a>
                     <div class="articles-item__body articles-item__body_small">
                        <h4 class="articles-item__subtitle">
                           December 30, 2019
                           <span class="articles-item__actions">
                              <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                              <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                           </span>
                        </h4>
                        <h3 class="articles-item__title">How, when and why we stay in touch with installers and customers</h3>
                        <div class="articles-item__text">Staying in touch with customers is important for any company; it often forms part of any good marketing strategy.</div>
                        <div class="articles-item__footer">
                           <a href="" class="articles-item__more">Read More article</a>
                           <a href="" class="articles-item__more">лента ру</a>
                        </div>
                     </div>
                  </div>
                  <div class="similar-news__item articles-item -articles-item-bg">
                     <a href="" class="articles-item__link"></a>
                     <a href="" class="articles-item__image -ai"><img src="{% static 'img/articles/image.jpg' %}" alt=""></a>
                     <div class="articles-item__body articles-item__body_small">
                        <h4 class="articles-item__subtitle">
                           December 30, 2019
                           <span class="articles-item__actions">
                              <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                              <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                           </span>
                        </h4>
                        <h3 class="articles-item__title">How, when and why we stay in touch with installers and customers</h3>
                        <div class="articles-item__text">Staying in touch with customers is important for any company; it often forms part of any good marketing strategy.</div>
                        <div class="articles-item__footer">
                           <a href="" class="articles-item__more">Read More article</a>
                           <a href="" class="articles-item__more">лента ру</a>
                        </div>
                     </div>
                  </div>
                  <div class="similar-news__item articles-item -articles-item-bg">
                     <a href="" class="articles-item__link"></a>
                     <a href="" class="articles-item__image -ai"><img src="{% static 'img/articles/image.jpg' %}" alt=""></a>
                     <div class="articles-item__body articles-item__body_small">
                        <h4 class="articles-item__subtitle">
                           December 30, 2019
                           <span class="articles-item__actions">
                              <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                              <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                           </span>
                        </h4>
                        <h3 class="articles-item__title">How, when and why we stay in touch with installers and customers</h3>
                        <div class="articles-item__text">Staying in touch with customers is important for any company; it often forms part of any good marketing strategy.</div>
                        <div class="articles-item__footer">
                           <a href="" class="articles-item__more">Read More article</a>
                           <a href="" class="articles-item__more">лента ру</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="page__question question question_news">
            <div class="question__container -container">
               <h2 class="question__title title">Do you have something to sell?</h2>
               <div class="question__subtitle subtitle">This is where businesses in Bangladesh trade, numerous business and industry services offered<br> to trade and consumers.</div>
               <a href="" class="question__btn btn">Submit on ad</a>
            </div>
         </div>
      </div>
{% endblock %}